h1,
.heading-1 {
  font-size: 2.2rem;
}

h2,
.heading-2 {
  width: 100%;
  font-size: 1.7rem;
}

h3,
.heading-3 {
  font-size: 1.3rem;
  font-weight: 500;
}

h4,
.heading-4 {
  font-size: 1rem;
  font-weight: 500;
}

.results__heading {
  font-size: 1.4rem;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
}
