apply plugin: 'groovy'
apply plugin: 'idea'
apply plugin: 'eclipse'

def artifactory = 'buildserver.supportspace.com'
group = 'com.supportspace'
archivesBaseName = 'swagger-gen-groovy'
version = '0.1'

buildscript {
    repositories {
        maven { url 'http://repo.jfrog.org/artifactory/gradle-plugins' }
    }
    dependencies {
        classpath(group: 'org.jfrog.buildinfo', name: 'build-info-extractor-gradle', version: '2.0.16')
    }
}

repositories {
  mavenCentral()
  mavenLocal()
  mavenCentral(artifactUrls: ['http://maven.springframework.org/milestone'])
  maven { url  "http://$artifactory:8080/artifactory/repo" }
}

dependencies {
    groovy "org.codehaus.groovy:groovy-all:2.0.5"
    compile 'org.codehaus.groovy.modules.http-builder:http-builder:0.6'
}

task wrapper(type: Wrapper) { gradleVersion = '1.6' }
