{{>licenseInfo}}
import * as models from './models';
{{#models}}
{{#model}}

{{#description}}
/**
 * {{{description}}}
 */
{{/description}}
{{#isEnum}}{{>modelEnum}}{{/isEnum}}{{^isEnum}}{{>modelGeneric}}{{/isEnum}}
{{/model}}
{{/models}}