apply plugin: 'com.android.library'
apply plugin: 'kotlin-android-extensions'
apply plugin: 'kotlin-android'
apply plugin: 'kotlin-kapt'

android {
    compileSdkVersion 28

    defaultConfig {
        minSdkVersion 21
        targetSdkVersion 28
        versionCode 1
        versionName "1.0"
    }
    compileOptions {
        targetCompatibility = JavaVersion.VERSION_1_8
        sourceCompatibility = JavaVersion.VERSION_1_8
    }
    buildTypes {
        release {
            minifyEnabled false
            proguardFiles getDefaultProguardFile('proguard-android-optimize.txt'), 'proguard-rules.pro'
        }
    }
}

dependencies {
    implementation "org.jetbrains.kotlin:kotlin-stdlib-jdk7:$kotlin_version"

    implementation 'com.squareup.okhttp3:logging-interceptor:3.14.2'

    api 'com.squareup.retrofit2:retrofit:2.6.0'
    {{#threetenbp}}
    api 'com.jakewharton.threetenabp:threetenabp:1.2.1'
    {{/threetenbp}}

    implementation 'com.squareup.retrofit2:converter-moshi:2.6.0'
    api 'com.squareup.moshi:moshi:1.8.0'
    kapt 'com.squareup.moshi:moshi-kotlin-codegen:1.8.0'

    implementation 'org.jetbrains.kotlinx:kotlinx-coroutines-core:1.2.1'

}
