<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite>
            <directory>{{apiTestPath}}</directory>
            <directory>{{modelTestPath}}</directory>
            <directory>{{controllerTestPath}}</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">{{apiSrcPath}}</directory>
            <directory suffix=".php">{{modelSrcPath}}</directory>
            <directory suffix=".php">{{controllerSrcPath}}</directory>
        </whitelist>
    </filter>
    <php>
        <ini name="error_reporting" value="E_ALL" />
        <server name="KERNEL_CLASS" value="{{testsPackage}}\AppKernel" />
    </php>
</phpunit>
