{{>partial_header}}
// package {{packageName}}

// {{classname}}

export default {
    Query: {
{{#operations}}
{{#operation}}{{^vendorExtensions.x-is-mutation}}
        // @return {{returnType}}
        {{operationId}}: ({{#allParams}}${{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) => {
            return {
                {{#allParams}}"{{paramName}}": "{{example}}"{{#hasMore}},
                {{/hasMore}}{{/allParams}}
            };
        },
{{/vendorExtensions.x-is-mutation}}{{/operation}}
{{/operations}}
    },

    Mutation: {
{{#operations}}
{{#operation}}{{#vendorExtensions.x-is-mutation}}
        // @return {{returnType}}
        {{operationId}}: ({{#allParams}}${{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) => {
            return {
                {{#allParams}}"{{paramName}}": "{{example}}"{{#hasMore}},
                {{/hasMore}}{{/allParams}}
            };
        },
{{/vendorExtensions.x-is-mutation}}{{/operation}}
{{/operations}}
    }
}