*   text=auto

## Windows Specific stuff
*.vcproj    text eol=crlf
*.bat    text eol=crlf
*.cmd   text eol=crlf

*.txt   text eol=lf
*.yaml   text eol=lf
*.yml   text eol=lf
*.json   text eol=lf
*.md    text eol=lf
*.xml    text eol=lf
gradlew text eol=lf
*.sh    text eol=lf
*.properties   text eol=lf
*.java   text eol=lf
.gitignore text eol=lf
.gradle text eol=lf
.sbt text eol=lf
.scala text eol=lf
.ts text eol=lf
.adoc text eol=lf
.svg text eol=lf

*.mustache text eol=lf linguist-vendored=true
*.hbs text eol=lf linguist-vendored=true
*.handlebars text eol=lf linguist-vendored=true
