java/wordnik*.zip
java/*.ipr
java/*.iml
java/*.iws
java/dist/
java/build/
java/lib/*.jar
java/META-INF/
java/web/
java/index
java/reports/
java/lib/*.zip
java/logs
java/src/main/java/com/wordnik/env/Version.scala
java/lib/*.pom
java/version.properties
java/out
android/codegen/build/
*.iml
out/
*.ipr
*.iws
version.properties
android/codegen/lib/
android/driver/lib/
android/driver/build/
android/driver-test/build/
android/driver-test/lib/*.jar
