# https://help.github.com/articles/dealing-with-line-endings/
**/*.mustache   linguist-vendored=true
*               text=auto               eol=lf
/gradlew        text                    eol=lf
*.bat           text                    eol=crlf
