{{#vendorExtensions}}
  {{#x-consumes-multipart}}
    {{#x-consumes-multipart-related}}
{{>server-request-body-multipart-related}}
    {{/x-consumes-multipart-related}}
    {{^x-consumes-multipart-related}}
      {{^bodyParams}}
{{>server-request-body-multipart-form}}
      {{/bodyParams}}
    {{/x-consumes-multipart-related}}
  {{/x-consumes-multipart}}
  {{^x-consumes-multipart}}
    {{#bodyParams}}
{{>server-request-body-basic}}
    {{/bodyParams}}
    {{^bodyParams}}
{{>server-request-body-form}}
    {{/bodyParams}}
  {{/x-consumes-multipart}}
{{/vendorExtensions}}
