{{>licenseInfo}}
package {{invokerPackage}}

{{#models.0}}
import {{modelPackage}}._
{{/models.0}}
{{#json4s}}
import org.json4s._
import sttp.client4.json4s.SttpJson4sApi

object JsonSupport extends SttpJson4sApi {
  def enumSerializers: Seq[Serializer[_]] = Seq[Serializer[_]](){{#models}}{{#model}}{{#isEnum}} :+
    {{classname}}.{{classname}}Serializer{{/isEnum}}{{#hasEnums}}{{#vars}}{{#isEnum}} :+
    {{classname}}Enums.{{datatypeWithEnum}}.{{datatypeWithEnum}}Serializer{{/isEnum}}{{/vars}}{{/hasEnums}}{{/model}}{{/models}}

  implicit val format: Formats = DefaultFormats ++ enumSerializers ++ DateSerializers.all ++ AdditionalTypeSerializers.all
  implicit val serialization: org.json4s.Serialization = org.json4s.jackson.Serialization
}
{{/json4s}}
{{#circe}}
import io.circe.{Decoder, Encoder}
import io.circe.generic.AutoDerivation
import sttp.client4.circe.SttpCirceApi

object JsonSupport extends SttpCirceApi with AutoDerivation with DateSerializers with AdditionalTypeSerializers {
  // Enum encoders/decoders are defined in their respective companion objects
}
{{/circe}}
