"{{baseName}}": {{#isQueryParam}}(wrappedValue: {{/isQueryParam}}{{paramName}}{{^required}}?{{/required}}.encodeToJSON(codableHelper: client.codableHelper){{#isQueryParam}}, isExplode: {{isExplode}}){{/isQueryParam}}