{{#useAlamofire}}
github "Alamofire/Alamofire" ~> 5.10{{/useAlamofire}}{{#usePromiseKit}}
github "mxcl/PromiseKit" ~> 8.1{{/usePromiseKit}}{{#useRxSwift}}
github "ReactiveX/RxSwift" ~> 6.8{{/useRxSwift}}
