// This logic may be modified with the AsModel.mustache template
result = null;
if (!Is{{vendorExtensions.x-http-status}}())
    return false;
{{^useSourceGeneration}}
result = System.Text.Json.JsonSerializer.Deserialize<{{{dataType}}}>(Content.RawContent, _jsonSerializerOptions);
return result != null;
{{/useSourceGeneration}}
{{#useSourceGeneration}}

result = _{{#lambda.camelcase_param}}{{dataType}}{{/lambda.camelcase_param}}DeserializationContext == null
    ? System.Text.Json.JsonSerializer.Deserialize<{{dataType}}>(Content.RawContent, _jsonSerializerOptions)
    : System.Text.Json.JsonSerializer.Deserialize<{{dataType}}>(Content.RawContent, _{{#lambda.camelcase_param}}{{dataType}}{{/lambda.camelcase_param}}DeserializationContext.{{dataType}});

return result != null;
{{/useSourceGeneration}}
