/// {{{description}}}{{^description}}{{classname}}{{/description}}
{{#hasVars}}
///
/// Properties:
{{#allVars}}
/// * [{{{name}}}] {{#description}}- {{{.}}}{{/description}}
{{/allVars}}
{{/hasVars}}
@BuiltValue()
abstract class {{classname}} implements {{#interfaces}}{{{.}}}, {{/interfaces}}Built<{{classname}}, {{classname}}Builder> {
{{#vars}}
{{^isInherited}}
    {{#description}}
    /// {{{.}}}
    {{/description}}
    @BuiltValueField(wireName: r'{{baseName}}')
    {{>serialization/built_value/variable_type}}{{^isNullable}}{{^required}}?{{/required}}{{/isNullable}} get {{name}};
    {{#allowableValues}}
    // {{#min}}range from {{{min}}} to {{{max}}}{{/min}}{{^min}}enum {{name}}Enum { {{#values}} {{{.}}}, {{/values}} };{{/min}}
    {{/allowableValues}}
{{/isInherited}}
{{/vars}}
    {{classname}}._();

    @BuiltValueHook(initializeBuilder: true)
    static void _defaults({{{classname}}}Builder b) => b{{#vars}}{{#defaultValue}}
        ..{{{name}}} = {{#isEnum}}{{^isContainer}}const {{{enumName}}}._({{/isContainer}}{{/isEnum}}{{{defaultValue}}}{{#isEnum}}{{^isContainer}}){{/isContainer}}{{/isEnum}}{{/defaultValue}}{{/vars}};

    factory {{classname}}([void updates({{classname}}Builder b)]) = _${{classname}};

    @BuiltValueSerializer(custom: true)
    static Serializer<{{classname}}> get serializer => _${{classname}}Serializer();
}

{{>serialization/built_value/class_child_serializer}}
