{{#isEnum}}{{#vendorExtensions}}{{#defaultValueWithEnum}} = {{enumName}}.{{name}}{{/defaultValueWithEnum}}{{/vendorExtensions}}{{/isEnum}}{{^isEnum}}{{#defaultValue}} = {{{.}}}{{/defaultValue}}{{/isEnum}}