      {{#hasFormParams}}
      {{#isMultipart}}
      _bodyData = FormData.fromMap(<String, dynamic>{
        {{#formParams}}
        {{^required}}{{^isNullable}}if ({{{paramName}}} != null) {{/isNullable}}{{/required}}r'{{{baseName}}}': {{#isFile}}{{{paramName}}}{{#isArray}}.toList(){{/isArray}}{{/isFile}}{{^isFile}}encodeFormParameter(_serializers, {{{paramName}}}, const FullType({{^isContainer}}{{{baseType}}}{{/isContainer}}{{#isContainer}}Built{{#isMap}}Map{{/isMap}}{{#isArray}}{{#uniqueItems}}Set{{/uniqueItems}}{{^uniqueItems}}List{{/uniqueItems}}{{/isArray}}, [{{#isMap}}FullType(String), {{/isMap}}FullType({{{baseType}}})]{{/isContainer}})){{/isFile}},
        {{/formParams}}
      });
      {{/isMultipart}}
      {{^isMultipart}}
      _bodyData = <String, dynamic>{
        {{#formParams}}
        {{^required}}{{^isNullable}}if ({{{paramName}}} != null) {{/isNullable}}{{/required}}r'{{{baseName}}}': {{>serialization/built_value/query_param}},
        {{/formParams}}
      };
      {{/isMultipart}}
      {{/hasFormParams}}
      {{#bodyParam}}
      {{#isPrimitiveType}}
      _bodyData = {{paramName}}{{#isFile}}{{#required}}{{#isNullable}}?{{/isNullable}}{{/required}}{{^required}}?{{/required}}.finalize(){{/isFile}};
      {{/isPrimitiveType}}
      {{^isPrimitiveType}}
      {{#isContainer}}
      const _type = FullType(Built{{#isMap}}Map{{/isMap}}{{#isArray}}{{#uniqueItems}}Set{{/uniqueItems}}{{^uniqueItems}}List{{/uniqueItems}}{{/isArray}}, [{{#isMap}}FullType(String), {{/isMap}}FullType({{{baseType}}})]);
      {{/isContainer}}
      {{^isContainer}}
      const _type = FullType({{{baseType}}});
      {{/isContainer}}
      _bodyData = {{^required}}{{paramName}} == null ? null : {{/required}}_serializers.serialize({{paramName}}, specifiedType: _type);
      {{/isPrimitiveType}}
      {{/bodyParam}}