{{#items}}{{#isString}}#Text(v){{/isString}}{{^isString}}{{#isBoolean}}#Bool(v){{/isBoolean}}{{^isBoolean}}{{#isFloat}}#Float(v){{/isFloat}}{{^isFloat}}{{#isDouble}}#Float(v){{/isDouble}}{{^isDouble}}{{#isNumber}}#Float(v){{/isNumber}}{{^isNumber}}{{#isInteger}}#Int(v){{/isInteger}}{{^isInteger}}{{#isLong}}{{^isInteger}}#Int(v){{/isInteger}}{{/isLong}}{{^isLong}}{{#isEnumRef}}{{{datatypeWithEnum}}}.toCandidValue(v){{/isEnumRef}}{{^isEnumRef}}{{{dataType}}}.toCandidValue(v){{/isEnumRef}}{{/isLong}}{{/isInteger}}{{/isNumber}}{{/isDouble}}{{/isFloat}}{{/isBoolean}}{{/isString}}{{/items}}