package {{package}};

{{#imports}}import {{import}};
{{/imports}}

import {{invokerPackage}}.ApiResponse;

import io.vertx.core.Future;
import io.vertx.core.json.JsonObject;

import java.util.List;
import java.util.Map;

public interface {{classname}}  {
{{#operations}}
{{#operation}}
    Future<ApiResponse<{{{returnType}}}>> {{operationId}}({{#allParams}}{{{dataType}}} {{paramName}}{{^-last}}, {{/-last}}{{/allParams}});
{{/operation}}
{{/operations}}
}
