{
    "supports": {},
    "dependencies": {
        "FubarCoder.RestSharp.Portable.Core": "4.0.7",
        "FubarCoder.RestSharp.Portable.HttpClient": "4.0.7",
        "Newtonsoft.Json": "10.0.3",
        "JsonSubTypes": "1.2.0"
    },
    "frameworks": {
        "netstandard1.3": {}
    }
}