class {{classname}} {
  /// Can be {{#oneOf}}[{{{.}}}], {{/oneOf}}
  dynamic _instance;

  // default constructor
  {{classname}}();

  set instance(dynamic instance) {
    if (!(instance == null{{#oneOf}} || instance is {{{.}}}{{/oneOf}}))
      throw ArgumentError("${instance.runtimeType} is not a valid type for {{classname}}");
    _instance = instance;
  }

  dynamic get instance => _instance;

  @override
  String toString() {
    return _instance.toString();
  }

  {{classname}}.fromJson(Map<String, dynamic> json) {
    // TODO
    // loop through models/primitive types defined in {{#oneOf}} {{{.}}} {{/oneOf}}
    // and make sure the payload `json` deserializes to one and only one schema defined in oneOf
  }

  Map<String, dynamic> toJson() {
    // TODO primitives, lists, maps
    return _instance.toJson();
  }
}
