<tr><td style="width:150px;">{{paramName}} {{#required}}<span style="color:red;">*</span>{{/required}}</td>
<td>
<p class="marked">{{description}}</p>
<script>
$(document).ready(function() {
  var schemaWrapper = {{{jsonSchema}}};

  var schema = findNode('schema',schemaWrapper).schema;
  if (!schema) {
    schema = schemaWrapper.schema;
  }
  if (schema.$ref != null) {
    schema = defsParser.$refs.get(schema.$ref);
  } else {
    schemaWrapper.definitions = Object.assign({}, defs);
    $RefParser.dereference(schemaWrapper).catch(function(err) {
      console.log(err);
    });
  }

  var view = new JSONSchemaView(schema,2,{isBodyParam: true});
  var result = $('#d2e199_{{nickname}}_{{paramName}}');
  result.empty();
  result.append(view.render());
});
</script>
<div id="d2e199_{{nickname}}_{{paramName}}"></div>
</td>
</tr>
