{{#schemaVariants}}
  {{#-first}}
  // Body has multiple variant schemas
  let content_type = if let Some(content_type) = header.headers.get(CONTENT_TYPE) {
      content_type.to_str()
  } else {
      return Err(ApiError(String::from("Missing content type header")));
  };

  let content_type = content_type.map(|s|
      s.split(';').next().expect("Spliting content type header failed").trim());

  let body = match content_type {
  {{/-first}}
      Ok("{{contentType}}") => {
{{>client-response-body-instance}}
          let body : models::{{{variantType}}} = models::{{{variantType}}}::from(body);

          {{{vendorExtensions.x-variant-name}}}(body)
      },
  {{#-last}}
      e => {
        return Err(ApiError(format!("Unexpected content type: {:?}", e)));
      }
  };
  {{/-last}}
{{/schemaVariants}}
{{^schemaVariants}}
{{>client-response-body-instance}}
{{/schemaVariants}}
