{{^required}}= const UndefinedWrapper{{#defaultValue}}({{{.}}}){{/defaultValue}}{{^defaultValue}}.undefined(){{/defaultValue}}{{/required}}{{#required}}{{#defaultValue}}= {{#isContainer}}const{{/isContainer}}{{{.}}}{{/defaultValue}}{{/required}}