# {{classname}}

## Enum

The class is defined in **[{{classname}}.java](../../{{{modelFolder}}}/{{classname}}.java)**

{{#allowableValues}}{{#enumVars}}
* `{{name}}` (value: `{{{value}}}`)
{{/enumVars}}{{/allowableValues}}
