{
    "supports": {},
    "dependencies": {
        "Newtonsoft.Json": "12.0.1",
        {{#useCompareNetObjects}}
        "CompareNETObjects": "4.57.0",
        {{/useCompareNetObjects}}
        {{#validatable}}
        "System.ComponentModel.Annotations": "4.5.0",
        {{/validatable}}
        "JsonSubTypes": "1.5.2",
        "RestSharp": "106.10.1"
    },
    "frameworks": {
        "{{targetFrameworkNuget}}": {}
    }
}
