{{#isBoolean}}value.toBoolean{{/isBoolean}}{{#isInteger}}value.toInt{{/isInteger}}{{#isDouble}}value.toDouble{{/isDouble}}{{#isLong}}value.toLong{{/isLong}}{{#isFloat}}value.toFloat{{/isFloat}}{{#isUuid}}UUID.fromString(value){{/isUuid}}{{#isDateTime}}OffsetDateTime.parse(value){{/isDateTime}}{{#isDate}}LocalDate.parse(value){{/isDate}}{{#isByteArray}}value.getBytes(){{/isByteArray}}{{#isNumber}}BigDecimal(value){{/isNumber}}