{
  "name": "{{npmName}}",
  "version": "{{npmVersion}}",
  "description": "swagger client for {{npmName}}",
  "author": "Swagger Codegen Contributors",
  "keywords": [
    "swagger-client"
  ],
  "license": "MIT",
  "files": [
    "lib"
  ],
  "main": "./lib/index.js",
  "typings": "./lib/index.d.ts",
  "scripts": {
    "build": "typings install && tsc"
  },
  "peerDependencies": {
    "angular2": "^2.0.0-beta.15",
    "rxjs": "^5.0.0-beta.2"
  },
  "devDependencies": {
    "typescript": "^1.8.10",
    "typings": "^0.8.1",
    "angular2": "^2.0.0-beta.15",
    "es6-shim": "^0.35.0",
    "es7-reflect-metadata": "^1.6.0",
    "rxjs": "5.0.0-beta.2",
    "zone.js": "^0.6.10"
  }{{#npmRepository}},
  "publishConfig":{
    "registry":"{{npmRepository}}"
  }
{{/npmRepository}}
}
