github "Flight-School/AnyCodable" ~> 0.6.1{{#useAlamofire}}
github "Alamofire/Alamofire" ~> 5.4.3{{/useAlamofire}}{{#usePromiseKit}}
github "mxcl/PromiseKit" ~> 6.15.3{{/usePromiseKit}}{{#useRxSwift}}
github "ReactiveX/RxSwift" ~> 6.2.0{{/useRxSwift}}
