{{#nonPublicApi}}internal{{/nonPublicApi}}{{^nonPublicApi}}public{{/nonPublicApi}} enum {{classname}}: {{dataType}}, {{#useVapor}}Content, Hashable{{/useVapor}}{{^useVapor}}Codable{{/useVapor}}, CaseIterable {
{{#allowableValues}}
{{#enumVars}}
    case {{{name}}} = {{{value}}}
{{/enumVars}}
{{/allowableValues}}
}