{{#vendorExtensions}}{{#x-ktorm-schema}}{{#columnDefinition}}        {{{name}}} = row[{{{name}}}] /* {{{colKotlinType}}} */{{/columnDefinition}}{{/x-ktorm-schema}}{{/vendorExtensions}}{{#description}} /* {{{description}}} */{{/description}}