{{>licenseInfo}}
package {{modelPackage}}

import me.liuwj.ktorm.schema.BaseTable
import me.liuwj.ktorm.dsl.QueryRowSet
import {{{importModelPackageName}}}

{{#models}}
{{#model}}
{{#isEnum}}{{>enum_class}}{{/isEnum}}{{^isEnum}}{{#isAlias}}typealias {{classname}} = {{{dataType}}}{{/isAlias}}{{^isAlias}}{{>data_class}}{{/isAlias}}{{/isEnum}}
{{/model}}
{{/models}}
