{{!

    Starting with v4 we process each part in multipart content as a form param because that's how the generator presents parts.

}}{{#isFormParam}}{{> paramDecl}} = {{>paramValue}}{{#useBeanValidation}}{{>beanValidationQueryParams}}{{/useBeanValidation}}{{!
}}{{/isFormParam}}