@{{rootJavaEEPackage}}.annotation.Generated(value = "{{{generatorClass}}}"{{^hideGenerationTimestamp}}, date = "{{{generatedDate}}}"{{/hideGenerationTimestamp}}{{^hideGeneratorVersion}}, comments = "OpenAPI Generator version: {{generatorVersion}}"{{/hideGeneratorVersion}})