package {{package}}

{{#imports}}import {{import}}
{{/imports}}
import okhttp3.Headers

{{#operations}}
interface {{classname}} {
{{#operation}}

    fun {{operationId}}({{#allParams}}{{>queryParamsSimple}}{{#isPathParam}}{{{paramName}}}: {{>optionalDataType}}{{/isPathParam}}{{#isHeaderParam}}headers: Headers{{/isHeaderParam}}{{#isCookieParam}}{{{paramName}}}: HttpCall{{/isCookieParam}}{{>formParamsSimple}}{{^-last}}, {{/-last}}{{/allParams}}) {{#returnType}}: {{{returnType}}}{{/returnType}}
{{/operation}}
}
{{/operations}}
