package {{package}}

{{#useBeanValidation}}
    import {{javaxPackage}}.validation.Valid
    import {{javaxPackage}}.validation.constraints.DecimalMax
    import {{javaxPackage}}.validation.constraints.DecimalMin
    import {{javaxPackage}}.validation.constraints.Email
    import {{javaxPackage}}.validation.constraints.Max
    import {{javaxPackage}}.validation.constraints.Min
    import {{javaxPackage}}.validation.constraints.NotNull
    import {{javaxPackage}}.validation.constraints.Pattern
    import {{javaxPackage}}.validation.constraints.Size
{{/useBeanValidation}}

{{#imports}}import {{import}}
{{/imports}}
import okhttp3.Headers

{{#operations}}
interface {{classname}} {
{{#operation}}

    fun {{operationId}}({{#allParams}}{{>queryParams}}{{>pathParams}}{{>headerParams}}{{>cookieParams}}{{>bodyParams}}{{>formParams}}{{^-last}}, {{/-last}}{{/allParams}}){{#returnType}}: {{{returnType}}}{{/returnType}} {
{{/operation}}
}
{{/operations}}
