import { Controller{{#operations}}{{#operation}}, {{#lambda.pascalcase}}{{#vendorExtensions.x-http-method}}{{.}}{{/vendorExtensions.x-http-method}}{{^vendorExtensions.x-http-method}}{{httpMethod}}{{/vendorExtensions.x-http-method}}{{/lambda.pascalcase}}{{/operation}}{{/operations}} } from '@nestjs/common';
{{#operations}}
{{#operation}}
{{#allParams}}
import { {{dataType}} } from '../{{modelPackage}}/{{modelFilename}}';
{{/allParams}}
{{/operation}}
{{/operations}}
import { {{classname}} } from '../{{apiPackage}}';

@Controller('{{baseName}}')
export class {{classname}}Controller {
  constructor(private readonly {{classVarName}}: {{classname}}) {}

{{#operations}}
{{#operation}}
  @{{#lambda.pascalcase}}{{#vendorExtensions.x-http-method}}{{.}}{{/vendorExtensions.x-http-method}}{{^vendorExtensions.x-http-method}}{{httpMethod}}{{/vendorExtensions.x-http-method}}{{/lambda.pascalcase}}('{{path}}')
  async {{operationId}}({{#allParams}}{{paramName}}: {{{dataType}}}, {{/allParams}}): Promise<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}any{{/returnType}}> {
    return this.{{classVarName}}.{{operationId}}({{#allParams}}{{paramName}}, {{/allParams}});
  }

{{/operation}}
{{/operations}}
} 