
# This is a sample api mustache template.  It is representing a fictitious
# language and won't be usable or compile to anything without lots of changes.
# Use it as an example.  You can access the variables in the generator object
# like such:

# use the package from the `apiPackage` variable
package: org.openapitools.api

# operations block
classname: StoreApi

# loop over each operation in the API:

# each operation has an `operationId`:
operationId: deleteOrder

# and parameters:
orderId: String


# each operation has an `operationId`:
operationId: getInventory

# and parameters:


# each operation has an `operationId`:
operationId: getOrderById

# and parameters:
orderId: String


# each operation has an `operationId`:
operationId: placeOrder

# and parameters:
body: Order


# end of operations block
