package {{package}}

{{#imports}}import {{import}}
{{/imports}}

{{#models}}
import scala.reflect.BeanProperty

{{#model}}
case class {{classname}} (
  {{#vars}}

  {{#notes}}/* {{notes}} */
  {{/notes}}
  {{#description}}/* {{description}} */
  {{/description}}
  {{name}}: {{datatype}}{{#hasMore}},{{newline}}  {{/hasMore}}
  {{/vars}}
)
{{/model}}
{{/models}}