<div class="main-content">
  <h2><a name="{{className}}"></a>{{className}}</h2>
  <p>This is the {{className}} API</p>

  {{#operations}}
  {{#operation}}
  <h2><a name="{{nickname}}"></a>{{nickname}}</h2>
  <hr>
  <p>{{description}}</p>
  {{#notes}}<p>{{.}}</p>{{/notes}}
  <h3 class="section">URL</h3>
  <code>{{basePath}}{{path}}</code>
  <h3 class="section">HTTP Method</h3>
  <code>{{httpMethod}}</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model="{{returnBaseType}}"><a href="">{{returnType}}</a></div>
  <h3 class="section">Parameters</h3>
  <ul>
  	{{#allParams}}
	  <li class="parameter">
      {{#isFormParam}}<span class="param-in">Form: </span>{{/isFormParam}}
      {{#isQueryParam}}<span class="param-in">Query: </span>{{/isQueryParam}}
      {{#isPathParam}}<span class="param-in">Path: </span>{{/isPathParam}}
      {{#isHeaderParam}}<span class="param-in">Header: </span>{{/isHeaderParam}}
      {{#isBodyParam}}<span class="param-in">Body: </span>{{/isBodyParam}}
      <span class="param-name">{{baseName}}</span>
      <span class="param-type">{{dataType}}{{#baseType}}({{.}}){{/baseType}}</span>
      {{#optional}}<span class="param-optional-flag">(optional)</span>{{/optional}}
      <p class="param-description">{{description}}</p>
	  </li>
    {{/allParams}}
  </ul>
  {{/operation}}
  {{/operations}}
</div>
