{{>partial_header}}
package {{packageName}}

//Implementation response defines an error code with the associated body
type ImplResponse struct {
	Code int
	{{#addResponseHeaders}}
	Headers map[string][]string
	{{/addResponseHeaders}}
	Body interface{}
}
