=begin
{{> api_info}}
=end

require 'date'

module {{moduleName}}
{{#models}}
{{#model}}
{{#isEnum}}
{{>partial_model_enum_class}}
{{/isEnum}}
{{#isArrayModel}}
{{>partial_model_array_map_alias}}
{{/isArrayModel}}
{{#isMapModel}}
{{^hasVars}}
{{>partial_model_array_map_alias}}
{{/hasVars}}
{{#hasVars}}
{{>partial_model_generic}}
{{/hasVars}}
{{/isMapModel}}
{{^isArrayModel}}
{{^isEnum}}
{{^isMapModel}}
{{>partial_model_generic}}
{{/isMapModel}}
{{/isEnum}}
{{/isArrayModel}}
{{/model}}
{{/models}}
end
