{
  "name": "{{npmName}}",
  "version": "{{npmVersion}}",
  "description": "OpenAPI Client for {{npmName}}",
  "author": "OpenAPI-Generator Contributors",
  "keywords": [
    "fetch",
    "flow",
    "openapi",
    "openapi-generator",
    "{{npmName}}"
  ],
  "license": "Unlicense",
  "main": "./lib/index.js",
  "scripts": {
    "build": "npm run build:clean && npm run build:lib && npm run build:flow",
    "build:clean": "rimraf lib",
    "build:lib": "node_modules/.bin/babel -d lib src --ignore '**/__tests__/**'",
    "build:flow": "flow-copy-source -v -i '**/__tests__/**' src lib"
  },
{{#npmRepository}}
  "publishConfig":{
    "registry":"{{npmRepository}}"
  },
{{/npmRepository}}
  "dependencies": {
    "portable-fetch": "^3.0.0"
  },
  "devDependencies": {
    "@babel/cli": "^7.0.0",
    "@babel/core": "^7.0.0",
    "@babel/plugin-transform-flow-strip-types": "^7.0.0",
    "@babel/preset-flow": "^7.0.0",
    "babel-preset-react-app": "^7.0.0",
    "flow-copy-source": "^2.0.0",
    "rimraf": "^2.6.2",
    "lodash": ">=4.17.13"
  }
}
