package {{packageName}}

{{#models}}
import (
{{#imports}}    "{{import}}"
{{/imports}}
)

{{#model}}
{{#description}}// {{{description}}}{{/description}}
type {{classname}} struct {
    {{#vars}}
    {{#description}}// {{{description}}}{{/description}}
    {{name}}  {{{datatype}}}  `json:"{{baseName}},omitempty"`
    {{/vars}}
}
{{/model}}
{{/models}}
