<project>
    <modelVersion>4.0.0</modelVersion>
    <groupId>com.wordnik</groupId>
    <artifactId>Go{{packageName}}</artifactId>
    <packaging>pom</packaging>
    <version>{{packageVersion}}</version>
    <name>Go{{packageName}}</name>
    <build>
        <defaultGoal>compile</defaultGoal>
        <plugins>
          <plugin>
            <groupId>org.apache.maven.plugins</groupId>
            <artifactId>maven-antrun-plugin</artifactId>
            <version>1.7</version>
            <executions>
              <execution>
              <id>build-go</id>
              <phase>compile</phase>
              <goals>
                  <goal>run</goal>
              </goals>
              <configuration>
                  <exportAntProperties>true</exportAntProperties>
                  <target>
                     <exec executable="go">
                         <arg value="build"/>
                     </exec>
                  </target>
              </configuration>
              </execution>
            </executions>
          </plugin>
        </plugins>
    </build>
</project>