{{#nonPublicApi}}internal{{/nonPublicApi}}{{^nonPublicApi}}public{{/nonPublicApi}} enum {{classname}}: {{dataType}}, Codable {
{{#allowableValues}}
{{#enumVars}}
    case {{name}} = {{{value}}}
{{/enumVars}}
{{/allowableValues}}
}