Pod::Spec.new do |s|
  s.name = '{{projectName}}'{{#projectDescription}}
  s.summary = '{{projectDescription}}'{{/projectDescription}}
  s.ios.deployment_target = '9.0'
  s.osx.deployment_target = '10.11'
  s.tvos.deployment_target = '9.0'
  s.version = '{{#podVersion}}{{podVersion}}{{/podVersion}}{{^podVersion}}{{#apiInfo}}{{version}}{{/apiInfo}}{{^apiInfo}}}0.0.1{{/apiInfo}}{{/podVersion}}'
  s.source = {{#podSource}}{{& podSource}}{{/podSource}}{{^podSource}}{ :git => 'git@github.com:OpenAPITools/openapi-generator.git', :tag => 'v{{#apiInfo}}{{version}}{{/apiInfo}}{{^apiInfo}}}0.0.1{{/apiInfo}}' }{{/podSource}}
  {{#podAuthors}}
  s.authors = '{{podAuthors}}'
  {{/podAuthors}}
  {{#podSocialMediaURL}}
  s.social_media_url = '{{podSocialMediaURL}}'
  {{/podSocialMediaURL}}
  {{#podDocsetURL}}
  s.docset_url = '{{podDocsetURL}}'
  {{/podDocsetURL}}
  s.license = {{#podLicense}}{{& podLicense}}{{/podLicense}}{{^podLicense}}'Proprietary'{{/podLicense}}
  s.homepage = '{{podHomepage}}{{^podHomepage}}https://github.com/OpenAPITools/openapi-generator{{/podHomepage}}'
  s.summary = '{{podSummary}}{{^podSummary}}{{projectName}} Swift SDK{{/podSummary}}'
  {{#podDescription}}
  s.description = '{{podDescription}}'
  {{/podDescription}}
  {{#podScreenshots}}
  s.screenshots = {{& podScreenshots}}
  {{/podScreenshots}}
  {{#podDocumentationURL}}
  s.documentation_url = '{{podDocumentationURL}}'
  {{/podDocumentationURL}}
  s.source_files = '{{projectName}}/Classes/**/*.swift'
  {{#usePromiseKit}}
  s.dependency 'PromiseKit/CorePromise', '~> 6.11.0'
  {{/usePromiseKit}}
  {{#useRxSwift}}
  s.dependency 'RxSwift', '~> 4.5.0'
  {{/useRxSwift}}
  s.dependency 'Alamofire', '~> 4.9.0'
end
