{{#models}}
{{#model}}
{{>partial_header_graphql}}
{{#description}}
# {{{.}}}
{{/description}}
type {{classname}} {
{{#vars}}
  {{#description}}
  # {{{.}}}
  {{/description}}
  {{baseName}}: {{#isEnum}}{{classname}}{{datatypeWithEnum}}{{/isEnum}}{{^isEnum}}{{datatypeWithEnum}}{{/isEnum}}
{{/vars}}
}

input {{classname}}Input {
{{#vars}}
    {{#description}}
    # {{{.}}}
    {{/description}}
    {{baseName}}: {{#isEnum}}{{classname}}{{datatypeWithEnum}}{{/isEnum}}{{^isEnum}}{{#isContainer}}[{{datatypeWithEnum}}{{#complexType}}Input{{/complexType}}]{{/isContainer}}{{^isContainer}}{{datatypeWithEnum}}{{#isModel}}Input{{/isModel}}{{/isContainer}}{{/isEnum}}
{{/vars}}
}
{{#vars}}
{{#isEnum}}

{{#description}}
# {{{.}}}
{{/description}}
enum {{classname}}{{enumName}} {
  {{#allowableValues}}
  {{#values}}
  {{{.}}}
  {{/values}}
  {{/allowableValues}}
}
{{/isEnum}}
{{/vars}}
{{/model}}
{{/models}}
