require './lib/swaggering'

# only need to extend if you want special configuration!
class MyApp < Swaggering
  self.configure do |config|
    config.api_version = '{{version}}' 
  end
end

{{#apis}}
require './lib/{{className}}.rb'
{{/apis}}
