{{classVarName}}Decoder : Decoder {{classname}}
{{classVarName}}Decoder =
    {{#isElm018}}decode{{/isElm018}}{{#isElm019}}Decode.succeed{{/isElm019}} {{classname}}
{{#allVars}}
{{^discriminatorValue}}        |> {{>fieldDecoder}}
{{/discriminatorValue}}
{{/allVars}}
