{{>customTypeToString}}
{{#lambda.camelcase}}encode{{classname}}{{enumName}}{{/lambda.camelcase}} : {{classname}}{{enumName}} -> Json.Encode.Value
{{#lambda.camelcase}}encode{{classname}}{{enumName}}{{/lambda.camelcase}} =
    Json.Encode.string << stringFrom{{classname}}{{enumName}}