{{#lambda.removeWhitespace}}
{{#isDateTime}}Api.Time.encodeDateTime{{/isDateTime}}
{{#isDate}}Api.Time.encodeDate{{/isDate}}
{{#isByteArray}}Json.Encode.string{{/isByteArray}}
{{#isBinary}}Json.Decode.string{{/isBinary}}
{{#isString}}{{^isEnum}}{{^isUuid}}Json.Encode.string{{/isUuid}}{{/isEnum}}{{/isString}}
{{#isInteger}}Json.Encode.int{{/isInteger}}
{{#isLong}}Json.Encode.int{{/isLong}}
{{#isNumber}}Json.Encode.float{{/isNumber}}
{{#isFloat}}Json.Encode.float{{/isFloat}}
{{#isDouble}}Json.Encode.float{{/isDouble}}
{{#isBoolean}}Json.Encode.bool{{/isBoolean}}
{{#isUuid}}Uuid.encode{{/isUuid}}
{{^isDateTime}}{{^isDate}}{{^isByteArray}}{{^isBinary}}{{^isString}}{{^isNumeric}}{{^isBoolean}}{{^isUuid}}
{{#lambda.camelcase}}encode{{#isEnum}}{{classname}}{{enumName}}{{/isEnum}}{{^isEnum}}{{dataType}}{{/isEnum}}{{/lambda.camelcase}}
{{/isUuid}}{{/isBoolean}}{{/isNumeric}}{{/isString}}{{/isBinary}}{{/isByteArray}}{{/isDate}}{{/isDateTime}}
{{/lambda.removeWhitespace}}