{{#isPrimitiveType}}{{#isByteArray}}Json.Decode.string{{/isByteArray}}{{#isString}}Json.Decode.string{{/isString}}{{#isNumeric}}{{#isInteger}}Json.Decode.int{{/isInteger}}{{#isLong}}Json.Decode.int{{/isLong}}{{#isNumber}}Json.Decode.float{{/isNumber}}{{#isFloat}}Json.Decode.float{{/isFloat}}{{#isDouble}}Json.Decode.float{{/isDouble}}{{/isNumeric}}{{#isBoolean}}Json.Decode.bool{{/isBoolean}}{{/isPrimitiveType}}{{^isPrimitiveType}}{{#isUuid}}Uuid.decoder{{/isUuid}}{{^isUuid}}{{#lambda.camelcase}}{{dataType}}{{/lambda.camelcase}}Decoder{{/isUuid}}{{/isPrimitiveType}}