{{#isPrimitiveType}}{{#isByteArray}}Json.Encode.string{{/isByteArray}}{{#isString}}Json.Encode.string{{/isString}}{{#isNumeric}}{{#isInteger}}Json.Encode.int{{/isInteger}}{{#isLong}}Json.Encode.int{{/isLong}}{{#isNumber}}Json.Encode.float{{/isNumber}}{{#isFloat}}Json.Encode.float{{/isFloat}}{{#isDouble}}Json.Encode.float{{/isDouble}}{{/isNumeric}}{{#isBoolean}}Json.Encode.bool{{/isBoolean}}{{/isPrimitiveType}}{{^isPrimitiveType}}{{#isUuid}}Uuid.encode{{/isUuid}}{{^isUuid}}encode{{dataType}}{{/isUuid}}{{/isPrimitiveType}}