type alias {{classname}}
    = {{dataType}}


decoder : Decoder {{classname}}
decoder =
    {{vendorExtensions.elmDecoder}}


encode : {{classname}} -> Encode.Value
encode =
    {{vendorExtensions.elmEncoder}}
