{{>partial_header}}
package {{packageName}}

{{#operations}}
import (
	"github.com/gin-gonic/gin"
)

type {{classname}} struct {
}

{{#operation}}
// {{httpMethod}} {{{basePathWithoutHost}}}{{{path}}}{{#summary}}
// {{{.}}} {{/summary}}
{{#isDeprecated}}
// Deprecated
{{/isDeprecated}}
func (api *{{classname}}) {{nickname}}(c *gin.Context) {
	// Your handler implementation
	c.JSON(200, gin.H{"status": "OK"})
}

{{/operation}}
{{/operations}}
