{
  "name": "{{{projectName}}}",
  "version": "{{{projectVersion}}}",
  "description": "{{{projectDescription}}}",{{#projectLicenseName}}
  "license": "{{{projectLicenseName}}}",{{/projectLicenseName}}
  "main": "{{sourceFolder}}{{#invokerPackage}}/{{invokerPackage}}{{/invokerPackage}}/index.js",
  "scripts": {
    "test": "./node_modules/mocha/bin/mocha --recursive"
  },
  "dependencies": {
    "superagent": "1.7.1"
  },
  "devDependencies": {
    "mocha": "~2.3.4",
    "sinon": "1.17.3",
    "expect.js": "~0.3.1"
  }
}
