{{#description}}
    /* {{{description}}} */
{{/description}}
    @Json(name = "{{{baseName}}}")
    val {{{name}}}: {{#isEnum}}{{classname}}.{{nameInCamelCase}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}