{{>licenseInfo}}
@file:UseSerializers(InstantSerializer::class, LocalDateTimeSerializer::class, LocalDateSerializer::class)

package {{modelPackage}}

import kotlinx.serialization.UseSerializers
import {{packageName}}.infrastructure.LocalDateTimeSerializer
import {{packageName}}.infrastructure.InstantSerializer
import {{packageName}}.infrastructure.LocalDateSerializer
{{#imports}}import {{import}}
{{/imports}}

{{#models}}
{{#model}}
{{#isEnum}}{{>enum_class}}{{/isEnum}}{{^isEnum}}{{#isAlias}}typealias {{classname}} = {{{dataType}}}{{/isAlias}}{{^isAlias}}{{>data_class}}{{/isAlias}}{{/isEnum}}
{{/model}}
{{/models}}
