#import "{{classPrefix}}QueryParamCollection.h"

@interface {{classPrefix}}QueryParamCollection ()

@property (nonatomic, strong) NSArray * values;
@property (nonatomic, strong) NSString * format;

@end

@implementation {{classPrefix}}QueryParamCollection

- (id)initWithValuesAndFormat:(NSArray *)values
                       format:(NSString *)format {

    self = [super init];
    if (self) {
    	_values = values;
    	_format = format;
	}
    
    return self;
}

@end
