const factory {{classname}}({
{{#vars}}
    {{#description}}
        /// {{{.}}}
    {{/description}}
    @JsonKey(name: r'{{baseName}}') {{>serialization/freezed/variable_type}} {{name}},
{{/vars}}
}) = _{{classname}};