with Servlet.Server.Web;
with {{{projectName}}}.Server;
procedure {{{projectName}}}_AWS is
   Container : Servlet.Server.Web.AWS_Container;
begin
   {{{projectName}}}.Server (Container);
end {{{projectName}}}_AWS;
