{{>partial_header}}
{-|
Module : {{title}}
-}

module {{title}}
  ( module {{title}}.API
  , module {{title}}.Client
  , module {{title}}.Core
  , module {{title}}.Logging
  , module {{title}}.MimeTypes
  , module {{title}}.Model
  , module {{title}}.ModelLens
  ) where

import {{title}}.API
import {{title}}.Client
import {{title}}.Core
import {{title}}.Logging
import {{title}}.MimeTypes
import {{title}}.Model
import {{title}}.ModelLens
