{{#models}}
{{#model}}
{{>partial_header}}
{{#description}}
# {{{description}}}
{{/description}}
type {{classname}} {

{{#vars}}
  {{#description}}
  # {{{descriptoin}}}
  {{/description}}
  {{baseName}}: {{{datatypeWithEnum}}}{{#required}}!{{/required}}

{{/vars}}
}
{{#vars}}
{{#isEnum}}

{{#description}}
# {{{descriptoin}}}
{{/description}}
enum {{enumName}} {
  {{#allowableValues}}
  {{#values}}
  {{{.}}}
  {{/values}}
  {{/allowableValues}}
}
{{/isEnum}}
{{/vars}}
{{/model}}
{{/models}}