{{#vendorExtensions.x-is-jackson-optional-nullable}}{{{name}}}.orElse(null){{/vendorExtensions.x-is-jackson-optional-nullable}}{{^vendorExtensions.x-is-jackson-optional-nullable}}{{{name}}}{{/vendorExtensions.x-is-jackson-optional-nullable}}