{{#pathParams}}@ApiParam(value = "{{{description}}}"{{#required}},required=true{{newline}}{{/required}}{{#allowableValues}}, allowableValues="{{{allowableValues}}}"{{newline}}{{/allowableValues}} {{#defaultValue}}, defaultValue="{{{defaultValue}}}"{{newline}}{{/defaultValue}})@PathParam("{{paramName}}"){{newline}} {{{dataType}}} {{paramName}}{{/pathParams}}