{{#queryParams}}@ApiParam(value = "{{{description}}}"{{#required}},required=true{{newline}}{{/required}}{{#allowableValues}}, allowableValues="{{{allowableValues}}}"{{newline}}{{/allowableValues}}{{#defaultValue}}, defaultValue="{{{defaultValue}}}"{{newline}}{{/defaultValue}}) @QueryParam("{{paramName}}") {{{dataType}}} {{paramName}}{{/queryParams}} 