{{#isBodyParam}}@ApiParam(value = "{{{description}}}" {{#required}},required=true{{/required}}{{#allowableValues}}, {{> allowableValues }}{{/allowableValues}}{{#defaultValue}}, defaultValue="{{{.}}}"{{/defaultValue}}){{#useBeanValidation}}{{#required}} @NotNull{{/required}}{{^isContainer}} @Valid{{/isContainer}}{{/useBeanValidation}} {{{dataType}}} {{paramName}}{{/isBodyParam}}