    /// <summary>
    /// {{description}}{{^description}}{{classname}}{{/description}}
    /// </summary>
    {{#vendorExtensions.x-cls-compliant}}
    [CLSCompliant({{{vendorExtensions.x-cls-compliant}}})]
    {{/vendorExtensions.x-cls-compliant}}
    {{#vendorExtensions.x-com-visible}}
    [ComVisible({{{vendorExtensions.x-com-visible}}})]
    {{/vendorExtensions.x-com-visible}}
    [DataContract(Name = "{{{name}}}")]
    {{^useUnityWebRequest}}
    {{#discriminator}}
    [JsonConverter(typeof(JsonSubtypes), "{{{discriminatorName}}}")]
    {{#mappedModels}}
    [JsonSubtypes.KnownSubType(typeof({{{modelName}}}), "{{^vendorExtensions.x-discriminator-value}}{{{mappingName}}}{{/vendorExtensions.x-discriminator-value}}{{#vendorExtensions.x-discriminator-value}}{{{.}}}{{/vendorExtensions.x-discriminator-value}}")]
    {{/mappedModels}}
    {{/discriminator}}
    {{/useUnityWebRequest}}
    {{>visibility}} partial class {{classname}}{{#lambda.firstDot}}{{#parent}} : .{{/parent}}{{#validatable}} : .{{/validatable}}{{#equatable}} : .{{/equatable}}{{/lambda.firstDot}}{{#lambda.joinWithComma}}{{#parent}}{{{.}}}  {{/parent}}{{#equatable}}IEquatable<{{classname}}>  {{/equatable}}{{#validatable}}IValidatableObject  {{/validatable}}{{/lambda.joinWithComma}}
    {
        {{! Inner enums definition }}
        {{#vars}}
        {{#items.isEnum}}
        {{#items}}
        {{^complexType}}
{{>modelInnerEnum}}
        {{/complexType}}
        {{/items}}
        {{/items.isEnum}}
        {{#isEnum}}
        {{^complexType}}
{{>modelInnerEnum}}
        {{/complexType}}
        {{/isEnum}}
        {{! Inner enum fields }}
        {{#isEnum}}

        /// <summary>
        /// {{description}}{{^description}}Gets or Sets {{{name}}}{{/description}}
        /// </summary>
        {{#description}}
        /// <value>{{.}}</value>
        {{/description}}
        {{#example}}
        /// <example>{{.}}</example>
        {{/example}}
        {{^conditionalSerialization}}
        [DataMember(Name = "{{baseName}}"{{#required}}, IsRequired = true{{/required}}, EmitDefaultValue = {{#vendorExtensions.x-emit-default-value}}true{{/vendorExtensions.x-emit-default-value}}{{^vendorExtensions.x-emit-default-value}}{{#required}}true{{/required}}{{^required}}{{#isBoolean}}true{{/isBoolean}}{{^isBoolean}}{{#isNullable}}true{{/isNullable}}{{^isNullable}}false{{/isNullable}}{{/isBoolean}}{{/required}}{{/vendorExtensions.x-emit-default-value}})]
        {{#deprecated}}
        [Obsolete]
        {{/deprecated}}
        public {{^required}}Option<{{/required}}{{{complexType}}}{{^complexType}}{{{datatypeWithEnum}}}{{/complexType}}{{>NullConditionalProperty}}{{^required}}>{{/required}} {{name}} { get; set; }
        {{#isReadOnly}}

        /// <summary>
        /// Returns false as {{name}} should not be serialized given that it's read-only.
        /// </summary>
        /// <returns>false (boolean)</returns>
        public bool ShouldSerialize{{name}}()
        {
            return false;
        }
        {{/isReadOnly}}
        {{/conditionalSerialization}}
        {{#conditionalSerialization}}
        {{#isReadOnly}}
        [DataMember(Name = "{{baseName}}"{{#required}}, IsRequired = true{{/required}}, EmitDefaultValue = {{#vendorExtensions.x-emit-default-value}}true{{/vendorExtensions.x-emit-default-value}}{{^vendorExtensions.x-emit-default-value}}{{#required}}true{{/required}}{{^required}}false{{/required}}{{/vendorExtensions.x-emit-default-value}})]
        {{#deprecated}}
        [Obsolete]
        {{/deprecated}}
        public {{^required}}Option<{{/required}}{{{complexType}}}{{^complexType}}{{{datatypeWithEnum}}}{{/complexType}}{{>NullConditionalProperty}}{{^required}}>{{/required}} {{name}} { get; set; }


        /// <summary>
        /// Returns false as {{name}} should not be serialized given that it's read-only.
        /// </summary>
        /// <returns>false (boolean)</returns>
        public bool ShouldSerialize{{name}}()
        {
            return false;
        }
        {{/isReadOnly}}

        {{^isReadOnly}}
        [DataMember(Name = "{{baseName}}"{{#required}}, IsRequired = true{{/required}}, EmitDefaultValue = {{#vendorExtensions.x-emit-default-value}}true{{/vendorExtensions.x-emit-default-value}}{{^vendorExtensions.x-emit-default-value}}{{#required}}true{{/required}}{{^required}}{{#isBoolean}}true{{/isBoolean}}{{^isBoolean}}{{#isNullable}}true{{/isNullable}}{{^isNullable}}false{{/isNullable}}{{/isBoolean}}{{/required}}{{/vendorExtensions.x-emit-default-value}})]
        {{#deprecated}}
        [Obsolete]
        {{/deprecated}}
        public {{^required}}Option<{{/required}}{{{complexType}}}{{^complexType}}{{{datatypeWithEnum}}}{{/complexType}}{{>NullConditionalProperty}}{{^required}}>{{/required}} {{name}}
        {
            get{ return _{{name}};}
            set
            {
                _{{name}} = value;
                _flag{{name}} = true;
            }
        }
        private {{^required}}Option<{{/required}}{{{complexType}}}{{^complexType}}{{{datatypeWithEnum}}}{{/complexType}}{{>NullConditionalProperty}}{{^required}}>{{/required}} _{{name}};
        private bool _flag{{name}};

        /// <summary>
        /// Returns false as {{name}} should not be serialized given that it's read-only.
        /// </summary>
        /// <returns>false (boolean)</returns>
        public bool ShouldSerialize{{name}}()
        {
            return _flag{{name}};
        }
        {{/isReadOnly}}
        {{/conditionalSerialization}}
        {{/isEnum}}
        {{/vars}}
    {{#hasRequired}}
    {{^hasOnlyReadOnly}}
        /// <summary>
        /// Initializes a new instance of the <see cref="{{classname}}" /> class.
        /// </summary>
        [JsonConstructorAttribute]
        {{^isAdditionalPropertiesTrue}}
        protected {{classname}}() { }
        {{/isAdditionalPropertiesTrue}}
        {{#isAdditionalPropertiesTrue}}
        protected {{classname}}()
        {
            this.AdditionalProperties = new Dictionary<string, object>();
        }
        {{/isAdditionalPropertiesTrue}}
    {{/hasOnlyReadOnly}}
    {{/hasRequired}}
        /// <summary>
        /// Initializes a new instance of the <see cref="{{classname}}" /> class.
        /// </summary>
        {{#readWriteVars}}
        /// <param name="{{>CamelCaseSanitizedParamName}}">{{description}}{{^description}}{{>CamelCaseSanitizedParamName}}{{/description}}{{#required}} (required){{/required}}{{#defaultValue}} (default to {{.}}){{/defaultValue}}.</param>
        {{/readWriteVars}}
    {{#hasOnlyReadOnly}}
        [JsonConstructorAttribute]
    {{/hasOnlyReadOnly}}
        public {{classname}}({{#readWriteVars}}{{^required}}Option<{{/required}}{{{datatypeWithEnum}}}{{>NullConditionalParameter}}{{^required}}>{{/required}} {{>CamelCaseSanitizedParamName}} = {{#required}}{{#defaultValue}}{{^isDateTime}}{{#isString}}{{^isEnum}}@{{/isEnum}}{{/isString}}{{{defaultValue}}}{{/isDateTime}}{{#isDateTime}}default({{{datatypeWithEnum}}}{{>NullConditionalParameter}}){{/isDateTime}}{{/defaultValue}}{{^defaultValue}}default({{{datatypeWithEnum}}}{{>NullConditionalParameter}}){{/defaultValue}}{{/required}}{{^required}}default(Option<{{{datatypeWithEnum}}}{{>NullConditionalParameter}}>){{/required}}{{^-last}}, {{/-last}}{{/readWriteVars}}){{#parent}} : base({{#parentVars}}{{>CamelCaseSanitizedParamName}}{{^-last}}, {{/-last}}{{/parentVars}}){{/parent}}
        {
            {{! Push all sanity tests on top }}
            {{#vars}}
            {{^isInherited}}
            {{^isReadOnly}}
            {{^isNullable}}
            {{^vendorExtensions.x-is-value-type}}
            // to ensure "{{>CamelCaseSanitizedParamName}}" (not nullable) is not null
            if ({{^required}}{{>CamelCaseSanitizedParamName}}.IsSet && {{/required}}{{>CamelCaseSanitizedParamName}}{{^required}}.Value{{/required}} == null)
            {
                throw new ArgumentNullException("{{>CamelCaseSanitizedParamName}} isn't a nullable property for {{classname}} and cannot be null");
            }
            {{/vendorExtensions.x-is-value-type}}
            {{/isNullable}}
            {{/isReadOnly}}
            {{/isInherited}}
            {{/vars}}
            {{! Assign all values }}
            {{#vars}}
            {{^isInherited}}
            {{^isReadOnly}}
            {{^required}}
            {{#defaultValue}}
            {{^conditionalSerialization}}
            this.{{name}} = {{>CamelCaseSanitizedParamName}}.IsSet ? {{>CamelCaseSanitizedParamName}} : new Option<{{{datatypeWithEnum}}}{{>NullConditionalParameter}}>({{#isString}}@{{/isString}}{{{defaultValue}}});
            {{/conditionalSerialization}}
            {{#conditionalSerialization}}
            this._{{name}} = {{>CamelCaseSanitizedParamName}}.IsSet ? {{>CamelCaseSanitizedParamName}} : new Option<{{{datatypeWithEnum}}}{{>NullConditionalParameter}}>({{#isString}}@{{/isString}}{{{defaultValue}}});
            {{/conditionalSerialization}}
            {{/defaultValue}}
            {{^defaultValue}}
            {{^conditionalSerialization}}
            this.{{name}} = {{>CamelCaseSanitizedParamName}};
            {{/conditionalSerialization}}
            {{#conditionalSerialization}}
            this._{{name}} = {{>CamelCaseSanitizedParamName}};
            if (this.{{name}}.IsSet)
            {
                this._flag{{name}} = true;
            }
            {{/conditionalSerialization}}
            {{/defaultValue}}
            {{/required}}
            {{#required}}
            {{^conditionalSerialization}}
            this.{{name}} = {{>CamelCaseSanitizedParamName}};
            {{/conditionalSerialization}}
            {{#conditionalSerialization}}
            this._{{name}} = {{>CamelCaseSanitizedParamName}};
            this._flag{{name}} = true;
            {{/conditionalSerialization}}
            {{/required}}
            {{/isReadOnly}}
            {{/isInherited}}
            {{/vars}}
            {{#isAdditionalPropertiesTrue}}
            this.AdditionalProperties = new Dictionary<string, object>();
            {{/isAdditionalPropertiesTrue}}
        }

        {{#vars}}
        {{^isInherited}}
        {{^isEnum}}
        /// <summary>
        /// {{description}}{{^description}}Gets or Sets {{{name}}}{{/description}}
        /// </summary>{{#description}}
        /// <value>{{.}}</value>{{/description}}
        {{#example}}
        /// <example>{{.}}</example>
        {{/example}}
        {{^conditionalSerialization}}
        [DataMember(Name = "{{baseName}}"{{#required}}, IsRequired = true{{/required}}, EmitDefaultValue = {{#vendorExtensions.x-emit-default-value}}true{{/vendorExtensions.x-emit-default-value}}{{^vendorExtensions.x-emit-default-value}}{{#required}}true{{/required}}{{^required}}{{#isBoolean}}true{{/isBoolean}}{{^isBoolean}}{{#isNullable}}true{{/isNullable}}{{^isNullable}}false{{/isNullable}}{{/isBoolean}}{{/required}}{{/vendorExtensions.x-emit-default-value}})]
        {{#isDate}}
        {{^supportsDateOnly}}
        [JsonConverter(typeof(OpenAPIDateConverter))]
        {{/supportsDateOnly}}
        {{/isDate}}
        {{#deprecated}}
        [Obsolete]
        {{/deprecated}}
        public {{^required}}Option<{{/required}}{{{dataType}}}{{>NullConditionalProperty}}{{^required}}>{{/required}} {{name}} { get; {{#isReadOnly}}private {{/isReadOnly}}set; }

        {{#isReadOnly}}
        /// <summary>
        /// Returns false as {{name}} should not be serialized given that it's read-only.
        /// </summary>
        /// <returns>false (boolean)</returns>
        public bool ShouldSerialize{{name}}()
        {
            return false;
        }
        {{/isReadOnly}}
        {{/conditionalSerialization}}
        {{#conditionalSerialization}}
        {{#isReadOnly}}
        [DataMember(Name = "{{baseName}}"{{#required}}, IsRequired = true{{/required}}, EmitDefaultValue = {{#vendorExtensions.x-emit-default-value}}true{{/vendorExtensions.x-emit-default-value}}{{^vendorExtensions.x-emit-default-value}}{{#required}}true{{/required}}{{^required}}{{#isBoolean}}true{{/isBoolean}}{{^isBoolean}}{{#isNullable}}true{{/isNullable}}{{^isNullable}}false{{/isNullable}}{{/isBoolean}}{{/required}}{{/vendorExtensions.x-emit-default-value}})]
        {{#isDate}}
        [JsonConverter(typeof(OpenAPIDateConverter))]
        {{/isDate}}
        {{#deprecated}}
        [Obsolete]
        {{/deprecated}}
        public {{^required}}Option<{{/required}}{{{dataType}}}{{>NullConditionalProperty}}{{^required}}>{{/required}} {{name}} { get; private set; }

        /// <summary>
        /// Returns false as {{name}} should not be serialized given that it's read-only.
        /// </summary>
        /// <returns>false (boolean)</returns>
        public bool ShouldSerialize{{name}}()
        {
            return false;
        }
        {{/isReadOnly}}
        {{^isReadOnly}}
        {{#isDate}}
        [JsonConverter(typeof(OpenAPIDateConverter))]
        {{/isDate}}
        [DataMember(Name = "{{baseName}}"{{#required}}, IsRequired = true{{/required}}, EmitDefaultValue = {{#vendorExtensions.x-emit-default-value}}true{{/vendorExtensions.x-emit-default-value}}{{^vendorExtensions.x-emit-default-value}}{{#required}}true{{/required}}{{^required}}{{#isBoolean}}true{{/isBoolean}}{{^isBoolean}}{{#isNullable}}true{{/isNullable}}{{^isNullable}}false{{/isNullable}}{{/isBoolean}}{{/required}}{{/vendorExtensions.x-emit-default-value}})]
        {{#deprecated}}
        [Obsolete]
        {{/deprecated}}
        public {{^required}}Option<{{/required}}{{{dataType}}}{{>NullConditionalProperty}}{{^required}}>{{/required}} {{name}}
        {
            get{ return _{{name}};}
            set
            {
                _{{name}} = value;
                _flag{{name}} = true;
            }
        }
        private {{^required}}Option<{{/required}}{{{dataType}}}{{>NullConditionalProperty}}{{^required}}>{{/required}} _{{name}};
        private bool _flag{{name}};

        /// <summary>
        /// Returns false as {{name}} should not be serialized given that it's read-only.
        /// </summary>
        /// <returns>false (boolean)</returns>
        public bool ShouldSerialize{{name}}()
        {
            return _flag{{name}};
        }
        {{/isReadOnly}}
        {{/conditionalSerialization}}
        {{/isEnum}}
        {{/isInherited}}
        {{/vars}}
        {{#isAdditionalPropertiesTrue}}
        /// <summary>
        /// Gets or Sets additional properties
        /// </summary>
        [JsonExtensionData]
        public IDictionary<string, object> AdditionalProperties { get; set; }

        {{/isAdditionalPropertiesTrue}}
        /// <summary>
        /// Returns the string presentation of the object
        /// </summary>
        /// <returns>String presentation of the object</returns>
        public override string ToString()
        {
            StringBuilder sb = new StringBuilder();
            sb.Append("class {{classname}} {\n");
            {{#parent}}
            sb.Append("  ").Append(base.ToString().Replace("\n", "\n  ")).Append("\n");
            {{/parent}}
            {{#vars}}
            sb.Append("  {{name}}: ").Append({{name}}).Append("\n");
            {{/vars}}
            {{#isAdditionalPropertiesTrue}}
            sb.Append("  AdditionalProperties: ").Append(AdditionalProperties).Append("\n");
            {{/isAdditionalPropertiesTrue}}
            sb.Append("}\n");
            return sb.ToString();
        }

        /// <summary>
        /// Returns the JSON string presentation of the object
        /// </summary>
        /// <returns>JSON string presentation of the object</returns>
        public {{#parent}}{{^isArray}}{{^isMap}}override {{/isMap}}{{/isArray}}{{/parent}}{{^parent}}virtual {{/parent}}string ToJson()
        {
            return Newtonsoft.Json.JsonConvert.SerializeObject(this, Newtonsoft.Json.Formatting.Indented);
        }
        {{#equatable}}

        /// <summary>
        /// Returns true if objects are equal
        /// </summary>
        /// <param name="input">Object to be compared</param>
        /// <returns>Boolean</returns>
        public override bool Equals(object input)
        {
            {{#useCompareNetObjects}}
            return OpenAPIClientUtils.compareLogic.Compare(this, input as {{classname}}).AreEqual;
            {{/useCompareNetObjects}}
            {{^useCompareNetObjects}}
            return this.Equals(input as {{classname}});
            {{/useCompareNetObjects}}
        }

        /// <summary>
        /// Returns true if {{classname}} instances are equal
        /// </summary>
        /// <param name="input">Instance of {{classname}} to be compared</param>
        /// <returns>Boolean</returns>
        public bool Equals({{classname}} input)
        {
            {{#useCompareNetObjects}}
            return OpenAPIClientUtils.compareLogic.Compare(this, input).AreEqual;
            {{/useCompareNetObjects}}
            {{^useCompareNetObjects}}
            if (input == null)
            {
                return false;
            }
            return {{#vars}}{{#parent}}base.Equals(input) && {{/parent}}{{^isContainer}}
                (
                    {{#required}}
                    this.{{name}} == input.{{name}} ||
                    {{/required}}
                    {{^vendorExtensions.x-is-value-type}}
                    {{#required}}(this.{{name}} != null &&{{/required}}
                    this.{{name}}.Equals(input.{{name}}){{#required}}){{/required}}
                    {{/vendorExtensions.x-is-value-type}}
                    {{#vendorExtensions.x-is-value-type}}
                    this.{{name}}.Equals(input.{{name}})
                    {{/vendorExtensions.x-is-value-type}}
                ){{^-last}} && {{/-last}}{{/isContainer}}{{#isContainer}}
                (
                    {{#required}}this.{{name}} == input.{{name}} || {{/required}}
                    {{^vendorExtensions.x-is-value-type}}{{^required}}this.{{name}}.IsSet && {{/required}}this.{{name}}{{^required}}.Value{{/required}} != null &&
                    {{^required}}input.{{name}}.IsSet && {{/required}}input.{{name}}{{^required}}.Value{{/required}} != null &&
                    {{/vendorExtensions.x-is-value-type}}this.{{name}}{{^required}}.Value{{/required}}.SequenceEqual(input.{{name}}{{^required}}.Value{{/required}})
                ){{^-last}} && {{/-last}}{{/isContainer}}{{/vars}}{{^vars}}{{#parent}}base.Equals(input){{/parent}}{{^parent}}false{{/parent}}{{/vars}}{{^isAdditionalPropertiesTrue}};{{/isAdditionalPropertiesTrue}}
                {{#isAdditionalPropertiesTrue}}
                && (this.AdditionalProperties.Count == input.AdditionalProperties.Count && !this.AdditionalProperties.Except(input.AdditionalProperties).Any());
                {{/isAdditionalPropertiesTrue}}
            {{/useCompareNetObjects}}
        }

        /// <summary>
        /// Gets the hash code
        /// </summary>
        /// <returns>Hash code</returns>
        public override int GetHashCode()
        {
            unchecked // Overflow is fine, just wrap
            {
                {{#parent}}
                int hashCode = base.GetHashCode();
                {{/parent}}
                {{^parent}}
                int hashCode = 41;
                {{/parent}}
                {{#vars}}
                {{^vendorExtensions.x-is-value-type}}
                if ({{^required}}this.{{name}}.IsSet && {{/required}}this.{{name}}{{^required}}.Value{{/required}} != null)
                {
                    hashCode = (hashCode * 59) + this.{{name}}{{^required}}.Value{{/required}}.GetHashCode();
                }
                {{/vendorExtensions.x-is-value-type}}
                {{#vendorExtensions.x-is-value-type}}
                {{^required}}
                if (this.{{name}}.IsSet)
                {
                {{/required}}
                hashCode = (hashCode * 59) + this.{{name}}{{^required}}.Value{{/required}}.GetHashCode();
                {{^required}}
                }
                {{/required}}
                {{/vendorExtensions.x-is-value-type}}
                {{/vars}}
                {{#isAdditionalPropertiesTrue}}
                if (this.AdditionalProperties != null)
                {
                    hashCode = (hashCode * 59) + this.AdditionalProperties.GetHashCode();
                }
                {{/isAdditionalPropertiesTrue}}
                return hashCode;
            }
        }
        {{/equatable}}

{{#validatable}}
{{>validatable}}
{{/validatable}}
    }
