{{>licenseInfo}}
package {{invokerPackage}};

import java.util.concurrent.ExecutionException;

import io.helidon.common.GenericType;
import io.helidon.common.reactive.Single;
import io.helidon.webclient.WebClientResponse;

{{#appName}}
/**
 * Generic-typed response.
 *
 * Return type for generated API methods.
 *
 * @param <T> type of the return value from the generated API method
 */
{{/appName}}
public interface ApiResponse<T> {

  static <T> ApiResponse<T> create(GenericType<T> responseType, Single<WebClientResponse> webClientResponse) {
    return new ApiResponseBase<>(responseType, webClientResponse);
  }

  /**
   * @returns reactive access to the {@link WebClientResponse} describing the response from the server
   */
  Single<WebClientResponse> webClientResponse();

  /**
   * @return reactive access to the value returned in the response from the server
   */
  Single<T> result() throws ExecutionException, InterruptedException;
}
