package {{package}}

import org.joda.time.DateTime
import java.util.UUID

{{#models}}

{{#model}}
case class {{classname}} (
  {{#vars}}{{name}}: {{^required}}Option[{{/required}}{{datatype}}{{^required}}]{{/required}}{{#hasMore}},{{/hasMore}}{{#description}}  // {{description}}{{/description}}
  {{/vars}}
)
{{/model}}
{{/models}}
