{{#models}}
{{#model}}

<h2>{{classname}}</h2>
  {{#vars}}
<ul class="parameter">
  <li class="param-required-{{required}}">{{name}} : {{datatype}}
	  <div class="param-description">{{description}}</div>
  </li>
</ul>
  {{/vars}}
{{/model}}
{{/models}}
