{{>header}}
import json
import tables

{{#imports}}import {{import}}
{{/imports}}{{#models}}{{#model}}{{#isEnum}}
type {{{classname}}}* {.pure.} = enum{{#allowableValues}}{{#enumVars}}
  {{{name}}}{{/enumVars}}{{/allowableValues}}

func `%`*(v: {{{classname}}}): JsonNode =
  result = case v:{{#allowableValues}}{{#enumVars}}
    of {{{classname}}}.{{{name}}}: %{{{value}}}{{/enumVars}}{{/allowableValues}}

func `$`*(v: {{{classname}}}): string =
  result = case v:{{#allowableValues}}{{#enumVars}}
    of {{{classname}}}.{{{name}}}: $({{{value}}}){{/enumVars}}{{/allowableValues}}
{{/isEnum}}{{^isEnum}}{{#vars}}{{#isEnum}}
type {{{enumName}}}* {.pure.} = enum{{#allowableValues}}{{#enumVars}}
  {{{name}}}{{/enumVars}}{{/allowableValues}}
{{/isEnum}}{{/vars}}
type {{{classname}}}* = object
  ## {{{description}}}{{#vars}}
  {{{name}}}*: {{#isEnum}}{{{enumName}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}{{#description}} ## {{{.}}}{{/description}}{{/vars}}
{{#vars}}{{#isEnum}}
func `%`*(v: {{{enumName}}}): JsonNode =
  result = case v:{{#allowableValues}}{{#enumVars}}
    of {{{enumName}}}.{{{name}}}: %{{{value}}}{{/enumVars}}{{/allowableValues}}

func `$`*(v: {{{enumName}}}): string =
  result = case v:{{#allowableValues}}{{#enumVars}}
    of {{{enumName}}}.{{{name}}}: $({{{value}}}){{/enumVars}}{{/allowableValues}}
{{/isEnum}}{{/vars}}{{/isEnum}}{{/model}}{{/models}}
