{{>licenseInfo}}
#ifndef _{{prefix}}_{{classname}}Handler_H_
#define _{{prefix}}_{{classname}}Handler_H_

#include <QObject>

{{#imports}}{{{import}}}
{{/imports}}

{{#cppNamespaceDeclarations}}
namespace {{this}} {
{{/cppNamespaceDeclarations}}

class {{classname}}Handler : public QObject
{
    Q_OBJECT
    
public:
    {{classname}}Handler();
    virtual ~{{classname}}Handler();


public slots:
    {{#operations}}{{#operation}}virtual void {{nickname}}({{#allParams}}{{{dataType}}}{{#isBodyParam}}{{/isBodyParam}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}});
    {{/operation}}{{/operations}}

};

{{#cppNamespaceDeclarations}}
}
{{/cppNamespaceDeclarations}}

#endif // _{{prefix}}_{{classname}}Handler_H_
