{{>modelEnumInterfaces}}

export function {{classname}}FromJSON(json: any): {{classname}} {
    return {{classname}}FromJSONTyped(json, false);
}

export function {{classname}}FromJSONTyped(json: any, ignoreDiscriminator: boolean): {{classname}} {
    return json as {{classname}};
}

export function {{classname}}ToJSON(value?: {{classname}} | null): any {
    return value as any;
}
