/* tslint:disable */
/* eslint-disable */
{{>licenseInfo}}

import {List} from 'immutable';
import {all, fork, put, takeLatest} from "redux-saga/effects";
import {apiCall, createSagaAction as originalCreateSagaAction, BasePayloadReturnValueApiAction, NormalizedRecordEntities} from "../runtimeSagasAndRecords";

{{#imports.0}}
import {
    {{#imports}}
    {{className}}Record,
    {{/imports}}
} from '../models';
{{/imports.0}}

{{#hasEnums}}

{{#operations}}
{{#operation}}
{{#allParams}}
{{#isEnum}}
import {
    {{operationIdCamelCase}}{{enumName}},
} from './{{classname}}';
{{/isEnum}}
{{/allParams}}
{{/operation}}
{{/operations}}
{{/hasEnums}}


const createSagaAction = <T>(type: string) => originalCreateSagaAction<T>(type, {namespace: "api_{{className}}"});

export const {{#lambda.camelcase}}{{classname}}{{/lambda.camelcase}}SagaMap = new Map<string, () => Generator<any, any, any>>([
{{#operations}}
	{{#operation}}
    	["{{nickname}}", {{nickname}}Saga],
	{{/operation}}
{{/operations}}
	]
);

export function *{{#lambda.camelcase}}{{classname}}{{/lambda.camelcase}}AllSagas() {
	yield all([...{{#lambda.camelcase}}{{classname}}{{/lambda.camelcase}}SagaMap.values()].map(actionSaga => fork(actionSaga)));
}

{{#operations}}
{{#operation}}
//region {{nickname}}

{{#allParams.0}}
export interface Payload{{#lambda.titlecase}}{{#lambda.camelcase}}{{nickname}}{{/lambda.camelcase}}{{/lambda.titlecase}}Request {
{{#allParams}}
    {{paramName}}{{^required}}?{{/required}}: {{{dataTypeAlternate}}};
{{/allParams}}
}
{{/allParams.0}}

{{#returnType}}
{{#returnTypeIsMetaDataResponse}}
export interface Payload{{#lambda.titlecase}}{{#lambda.camelcase}}{{nickname}}{{/lambda.camelcase}}{{/lambda.titlecase}} extends {{#allParams.0}}Payload{{#lambda.titlecase}}{{#lambda.camelcase}}{{nickname}}{{/lambda.camelcase}}{{/lambda.titlecase}}Request, {{/allParams.0}}BasePayloadReturnValueApiAction {
}
{{/returnTypeIsMetaDataResponse}}
{{#returnTypeIsMetaOnlyResponse}}
export interface Payload{{#lambda.titlecase}}{{#lambda.camelcase}}{{nickname}}{{/lambda.camelcase}}{{/lambda.titlecase}} extends {{#allParams.0}}Payload{{#lambda.titlecase}}{{#lambda.camelcase}}{{nickname}}{{/lambda.camelcase}}{{/lambda.titlecase}}Request{{/allParams.0}} {
}
{{/returnTypeIsMetaOnlyResponse}}
{{^returnTypeIsMetaDataResponse}}
{{^returnTypeIsMetaOnlyResponse}}
export interface Payload{{#lambda.titlecase}}{{#lambda.camelcase}}{{nickname}}{{/lambda.camelcase}}{{/lambda.titlecase}} extends {{#allParams.0}}Payload{{#lambda.titlecase}}{{#lambda.camelcase}}{{nickname}}{{/lambda.camelcase}}{{/lambda.titlecase}}Request, {{/allParams.0}}BasePayloadReturnValueApiAction {
}
{{/returnTypeIsMetaOnlyResponse}}
{{/returnTypeIsMetaDataResponse}}
{{/returnType}}
{{^returnType}}
export interface Payload{{#lambda.titlecase}}{{#lambda.camelcase}}{{nickname}}{{/lambda.camelcase}}{{/lambda.titlecase}} extends {{#allParams.0}}Payload{{#lambda.titlecase}}{{#lambda.camelcase}}{{nickname}}{{/lambda.camelcase}}{{/lambda.titlecase}}Request{{/allParams.0}} {
}
{{/returnType}}

export const {{nickname}}Request = createSagaAction<Payload{{#lambda.titlecase}}{{#lambda.camelcase}}{{nickname}}{{/lambda.camelcase}}{{/lambda.titlecase}}Request>("{{nickname}}Request");
{{#returnType}}
export const {{nickname}}Success = createSagaAction<{{{returnTypeAlternate}}}>("{{nickname}}Success");
{{#returnTypeIsMetaDataResponse}}
export const {{nickname}}Success_Entities = createSagaAction<NormalizedRecordEntities>("{{nickname}}Success_Entities");
{{/returnTypeIsMetaDataResponse}}
{{^returnTypeIsMetaDataResponse}}
{{^returnTypeIsMetaOnlyResponse}}
export const {{nickname}}Success_Entities = createSagaAction<NormalizedRecordEntities>("{{nickname}}Success_Entities");
{{/returnTypeIsMetaOnlyResponse}}
{{/returnTypeIsMetaDataResponse}}
{{/returnType}}
{{^returnType}}
export const {{nickname}}Success = createSagaAction<void>("{{nickname}}Success");
{{/returnType}}
export const {{nickname}}Failure = createSagaAction<any>("{{nickname}}Failure");

export const {{nickname}} = createSagaAction<Payload{{#lambda.titlecase}}{{#lambda.camelcase}}{{nickname}}{{/lambda.camelcase}}{{/lambda.titlecase}}>("{{nickname}}");

export function *{{nickname}}Saga() {
	yield takeLatest({{nickname}}, {{nickname}}SagaImp);
}
//endregion
{{/operation}}
{{/operations}}

/*

export interface PayloadGetAffiliateBrandsRequest {
	affiliateId: string;
	wantedStatuses?: string[];
	brandCode?: string;
	isLibrary?: boolean;
}

export interface PayloadGetAffiliateBrandsSuccess {
	data: List<BrandListingInfoRecord>;
}

export const getAffiliateBrands = createSagaAction<PayloadGetAffiliateBrands>("{{nickname}}");

export const getAffiliateBrandsRequest = createSagaAction<PayloadGetAffiliateBrandsRequest>("getAffiliateBrandsRequest");
export const getAffiliateBrandsSuccess = createSagaAction<PayloadGetAffiliateBrandsSuccess>("getAffiliateBrandsSuccess");
export const getAffiliateBrandsSuccess_Entities = createSagaAction<NormalizedRecordEntities>("getAffiliateBrandsSuccess_Entities");
export const getAffiliateBrandsFailure = createSagaAction<any>("getAffiliateBrandsFailure");

export function *getAffiliateBrandsSaga() {
	yield takeLatest(publishConfig, publishConfigSagaImp);
}

export function *getAffiliateBrandsSagaImp(action: Action<PayloadGetAffiliateBrands>) {
	try {
		const {toEntities, affiliateId, wantedStatuses, brandCode, isLibrary} = action.payload;
		yield put(getAffiliateBrandsRequest());
		const response: Required<GetBrandsResponse> = yield apiCall(Api.affiliateAPI, Api.affiliateAPI.getAffiliateBrands, parseFloat(affiliateId), wantedStatuses, brandCode, isLibrary);
		if (toEntities) {
			const normalizeDataEntities = brandListingInfoRecordUtils.fromApiArrayAsEntities(response.data);
			yield put(normalizedEntities(normalizeDataEntities));
			yield put(getAffiliateBrandsSuccess_Entities(normalizeDataEntities));
		} else {
			yield put(getAffiliateBrandsSuccess({data: brandListingInfoRecordUtils.fromApiArray(response.data)}));
		}
	} catch (error) {
		yield put(getAffiliateBrandsFailure(error));
	}
}
*/