{{>licenseInfo}}
{{#useHttpClient}}
import { HttpHeaders }                                       from '@angular/common/http';
{{/useHttpClient}}
{{^useHttpClient}}
import { Headers }                                           from '@angular/http';
{{/useHttpClient}}

{{^useRxJS6}}
import { Observable }                                        from 'rxjs/Observable';
{{/useRxJS6}}
{{#useRxJS6}}
import { Observable }                                        from 'rxjs';
{{/useRxJS6}}

{{#imports}}
import { {{classname}} } from '../{{filename}}';
{{/imports}}


import { Configuration }                                     from '../configuration';

{{#operations}}

{{#description}}
    /**
    * {{&description}}
    */
{{/description}}
export interface {{classname}}Interface {
    defaultHeaders: {{#useHttpClient}}Http{{/useHttpClient}}Headers;
    configuration: Configuration;
    {{^useHttpClient}}[others: string]: any;{{/useHttpClient}}

{{#operation}}
    /**
    * {{summary}}
    * {{notes}}
    {{#allParams}}* @param {{paramName}} {{description}}
    {{/allParams}}*/
    {{nickname}}({{#allParams}}{{paramName}}{{^required}}?{{/required}}: {{{dataType}}}, {{/allParams}}extraHttpRequestParams?: any): Observable<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}{}{{/returnType}}>;

{{/operation}}
}
{{/operations}}
