{
  "name": "{{{npmName}}}",
  "version": "{{{npmVersion}}}",
  "description": "OpenAPI client for {{{npmName}}}",
  "author": "OpenAPI-Generator Contributors",
  "keywords": [
    "openapi-client",
    "openapi-generator"
  ],
  "license": "Unlicense",
  {{#useNgPackagr}}
  "scripts": {
    "build": "ng-packagr -p ng-package.json"
  },
  {{/useNgPackagr}}
  {{^useNgPackagr}}
  "main": "dist/index.js",
  "module": "dist/index.js",  
  "typings": "dist/index.d.ts",
  "scripts": {
    "build": "ngc && npm pack"
  },
  {{/useNgPackagr}}
  "peerDependencies": {
    "@angular/core": "^{{ngVersion}}",
    "@angular/http": "^{{ngVersion}}",
    "@angular/common": "^{{ngVersion}}",
    "@angular/compiler": "^{{ngVersion}}",
    "core-js": "^2.4.0",
    "reflect-metadata": "^0.1.3",
    "rxjs": "^{{rxjsVersion}}"
  },
  "devDependencies": {
    "@angular/compiler-cli": "^{{ngVersion}}",
    "@angular/core": "^{{ngVersion}}",
    "@angular/http": "^{{ngVersion}}",
    "@angular/common": "^{{ngVersion}}",
    "@angular/compiler": "^{{ngVersion}}",
    "@angular/platform-browser": "^{{ngVersion}}",{{#useNgPackagr}}
    "ng-packagr": "^{{ngPackagrVersion}}",{{#useOldNgPackagr}}{{/useOldNgPackagr}}{{^useOldNgPackagr}}
    "tsickle": "^{{tsickleVersion}}",{{/useOldNgPackagr}}{{/useNgPackagr}}
    "reflect-metadata": "^0.1.3",
    "rxjs": "^{{rxjsVersion}}",
    "zone.js": "^{{zonejsVersion}}",
    "typescript": "{{{tsVersion}}}"
  }{{#npmRepository}},{{/npmRepository}}
{{#npmRepository}}
  "publishConfig": {
    "registry": "{{{npmRepository}}}"
  }
{{/npmRepository}}
}
