package = "{{{packageName}}}"
version = "{{{packageVersion}}}"
source = {
	url = "https://github.com/{{#gitUserId}}{{.}}{{/gitUserId}}{{^gitUserId}}YOUR_GIT_USERNAME{{/gitUserId}}/{{#gitRepoId}}{{.}}{{/gitRepoId}}{{^gitRepoId}}YOUR_GIT_REPO{{/gitRepoId}}.git"
}

description = {
	summary = "API client genreated by OpenAPI Generator",
	detailed = [[
{{{appDescription}}}]],
	homepage = "https://openapi-generator.tech",
	license = "Unlicense",
	maintainer = "OpenAPI Generator contributors",
}

dependencies = {
	"lua >= 5.2",
	"http",
	"dkjson",
	"basexx"
}

build = {
	type = "builtin",
	modules = {
		{{#apiInfo}}
		{{#apis}}
		{{#operations}}
		{{#operation}}
		{{#-first}}
		["{{{packageName}}}.api.{{{classname}}}"] = "{{{packageName}}}/api/{{{classname}}}.lua";
		{{/-first}}
		{{/operation}}
		{{/operations}}
		{{/apis}}
		{{/apiInfo}}
		{{#models}}
		{{#model}}
		["{{{packageName}}}.model.{{{classname}}}"] = "{{{packageName}}}/model/{{{classname}}}.lua";
		{{/model}}
		{{/models}}
	}
}
