package {{packageName}}.infrastructure.authentication

interface AuthProvider {
    fun applyToParams(queryParameters: MutableList<Pair<String, Any?>>, headerParameters: MutableList<Pair<String, Any?>>)
}