openapi: 3.0.3
info:
  description: Api to reproduce bug
  title: Minimal
  version: 0.5.1-SNAPSHOT.0
servers:
- url: http://localhost:8080
tags:
- name: test
paths:
  /api/v1/file:
    post:
      operationId: createFile
      requestBody:
        content:
          multipart/form-data:
            encoding:
              documentBytes:
                contentType: '*/*'
                style: form
              properties:
                contentType: application/json
                style: form
            schema:
              $ref: "#/components/schemas/FileUploadRequest"
        required: true
      responses:
        "201":
          description: File created successfully
      tags:
      - file
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
components:
  schemas:
    FileUploadRequest:
      properties:
        documentBytes:
          format: binary
          type: string
        documentType:
          type: string
        structured:
          $ref: "#/components/schemas/StructuredType"
        properties:
          $ref: "#/components/schemas/TypeMap"
      required:
      - documentBytes
      - documentType
      - properties
      type: object
    TypeMap:
      additionalProperties:
        type: string
      type: object
    StructuredType:
      properties:
        someString:
          type: string
      type: object

