{{#allowableValues}}allowableValues ={{#swagger2AnnotationLibrary}} { {{#values}}{{#lambda.javaStringLiteral}}{{{.}}}{{/lambda.javaStringLiteral}}{{^-last}}, {{/-last}}{{/values}} }{{/swagger2AnnotationLibrary}}{{#swagger1AnnotationLibrary}} "{{#values}}{{#lambda.javaStringContent}}{{{.}}}{{/lambda.javaStringContent}}{{^-last}}, {{/-last}}{{#-last}}{{/-last}}{{/values}}"{{/swagger1AnnotationLibrary}}{{/allowableValues}}