{{#required}}{{^isNullable}}{{^isReadOnly}}@NotNull{{#vendorExtensions.x-not-null-message}}(message = "{{{.}}}"){{/vendorExtensions.x-not-null-message}} {{/isReadOnly}}{{/isNullable}}{{/required}}{{#isModel}}@Valid {{/isModel}}{{>beanValidationCore}}