{{#vendorExtensions.x-datatype-with-items-annotation}}{{{.}}}{{/vendorExtensions.x-datatype-with-items-annotation}}{{^vendorExtensions.x-datatype-with-items-annotation}}{{{datatypeWithEnum}}}{{/vendorExtensions.x-datatype-with-items-annotation}}