{{#isHeaderParam}}{{#vendorExtensions.x-field-extra-annotation}}{{{.}}} {{/vendorExtensions.x-field-extra-annotation}}{{#useBeanValidation}}{{>beanValidationQueryParams}}{{/useBeanValidation}}{{>paramDoc}} @RequestHeader(value = {{#lambda.javaStringLiteral}}{{{baseName}}}{{/lambda.javaStringLiteral}}, required = {{#required}}true{{/required}}{{^required}}false{{/required}}{{#hasDefaultValue}}{{#isString}}{{^isContainer}}, defaultValue = {{#lambda.javaStringLiteral}}{{{rawDefaultValueText}}}{{/lambda.javaStringLiteral}}{{/isContainer}}{{/isString}}{{#isContainer}}, defaultValue = "{{{defaultValue}}}"{{/isContainer}}{{^isString}}{{^isContainer}}, defaultValue = "{{{defaultValue}}}"{{/isContainer}}{{/isString}}{{/hasDefaultValue}}{{^hasDefaultValue}}{{#defaultValue}}, defaultValue = "{{{defaultValue}}}"{{/defaultValue}}{{/hasDefaultValue}}){{>dateTimeParam}} {{>nullableAnnotation}}{{>optionalDataType}} {{paramName}}{{/isHeaderParam}}