package {{configPackage}};

import org.springframework.context.annotation.Bean;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;
{{#reactive}}
import org.springframework.web.reactive.function.server.RouterFunction;
import org.springframework.web.reactive.function.server.ServerResponse;
{{/reactive}}

{{#reactive}}
import java.net.URI;
{{/reactive}}
{{#reactive}}

import static org.springframework.web.reactive.function.server.RequestPredicates.GET;
import static org.springframework.web.reactive.function.server.RouterFunctions.route;
{{/reactive}}

/**
 * Home redirection to OpenAPI api documentation
 */
@Controller
public class HomeController {

{{#reactive}}
    @Bean
    RouterFunction<ServerResponse> index() {
        return route(
            GET("/"),
            req -> ServerResponse.temporaryRedirect(URI.create("/v3/api-docs")).build()
        );
    }
{{/reactive}}
{{^reactive}}
    @RequestMapping("/")
    public String index() {
        return "redirect:/v3/api-docs";
    }
{{/reactive}}


}
