{{#isHeaderParam}}@Parameter(name = "{{{paramName}}}", description = "{{{description}}}", {{#required}}required=true,{{/required}}, in=ParameterIn.HEADER, schema = @Schema(implementation={{{dataType}}}.class)){{#hasMore}},{{/hasMore}}{{/isHeaderParam}}
