{{#lombok.RequiredArgsConstructor}}
  {{^useBeanValidation}}
    {{#required}}
    @lombok.NonNull
    {{/required}}
  {{/useBeanValidation}}
{{/lombok.RequiredArgsConstructor}}
{{#lombok.ToString}}
  {{#isPassword}}
  @lombok.ToString.Exclude
  {{/isPassword}}
{{/lombok.ToString}}
{{#lombok.Data}}
  {{#isPassword}}
  @lombok.ToString.Exclude
  {{/isPassword}}
  {{^isContainer}}{{#useBeanValidation}}{{>beanValidation}}{{/useBeanValidation}}{{/isContainer}}
  {{^useBeanValidation}}
    {{#required}}
      @lombok.NonNull
    {{/required}}
  {{/useBeanValidation}}
  {{#swagger2AnnotationLibrary}}
  @Schema(name = "{{{baseName}}}"{{#isReadOnly}}, accessMode = Schema.AccessMode.READ_ONLY{{/isReadOnly}}{{#example}}, example = "{{{.}}}"{{/example}}{{#description}}, description = "{{{.}}}"{{/description}}{{#deprecated}}, deprecated = true{{/deprecated}}, requiredMode = {{#required}}Schema.RequiredMode.REQUIRED{{/required}}{{^required}}Schema.RequiredMode.NOT_REQUIRED{{/required}})
  {{/swagger2AnnotationLibrary}}
  {{#jackson}}@JsonProperty("{{baseName}}")
    {{#withXml}}
      @JacksonXmlProperty(localName = "{{items.xmlName}}{{^items.xmlName}}{{xmlName}}{{^xmlName}}{{baseName}}{{/xmlName}}{{/items.xmlName}}"{{#isXmlAttribute}}, isAttribute = true{{/isXmlAttribute}}{{#xmlNamespace}}, namespace = "{{.}}"{{/xmlNamespace}})
      {{#isContainer}}
        @JacksonXmlElementWrapper({{#isXmlWrapped}}localName = "{{xmlName}}{{^xmlName}}{{baseName}}{{/xmlName}}", {{#xmlNamespace}}namespace = "{{.}}", {{/xmlNamespace}}{{/isXmlWrapped}}useWrapping = {{isXmlWrapped}})
      {{/isContainer}}
    {{/withXml}}
  {{/jackson}}
{{/lombok.Data}}
{{#lombok.Builder}}
  {{#defaultValue}}
  @lombok.Builder.Default
  {{/defaultValue}}
{{/lombok.Builder}}