{{#openApiNullable}}{{#isNullable}}JsonNullable<{{/isNullable}}{{/openApiNullable}}{{#useOptional}}{{^required}}{{^isNullable}}{{^isContainer}}Optional<{{/isContainer}}{{/isNullable}}{{/required}}{{/useOptional}}{{#isContainer}}{{{dataType}}}{{#isArray}}{{#items}}<{{>nullableDataType}}>{{/items}}{{/isArray}}{{#isMap}}{{#items}}<String, {{>nullableDataType}}>{{/items}}{{/isMap}}{{/isContainer}}{{^isContainer}}{{#isResolvedEnum}}{{{datatypeWithEnum}}}{{/isResolvedEnum}}{{^isResolvedEnum}}{{{dataType}}}{{/isResolvedEnum}}{{/isContainer}}{{#useOptional}}{{^required}}{{^isNullable}}{{^isContainer}}>{{/isContainer}}{{/isNullable}}{{/required}}{{/useOptional}}{{#openApiNullable}}{{#isNullable}}>{{/isNullable}}{{/openApiNullable}}