{{#useOptional}}{{#required}}{{{dataType}}}{{/required}}{{^required}}{{^defaultValue}}Optional<{{#useBeanValidation}}{{>beanValidationCore}}{{/useBeanValidation}}{{{dataType}}}>{{/defaultValue}}{{#defaultValue}}{{{dataType}}}{{/defaultValue}}{{/required}}{{/useOptional}}{{^useOptional}}{{{dataType}}}{{/useOptional}}