{{#withXml}}
{{#jackson}}
@JacksonXmlRootElement({{#xmlNamespace}}namespace = {{#lambda.javaStringLiteral}}{{{.}}}{{/lambda.javaStringLiteral}}, {{/xmlNamespace}}localName = {{#lambda.javaStringLiteral}}{{#xmlName}}{{{xmlName}}}{{/xmlName}}{{^xmlName}}{{{classname}}}{{/xmlName}}{{/lambda.javaStringLiteral}})
{{/jackson}}
@XmlRootElement({{#xmlNamespace}}namespace = {{#lambda.javaStringLiteral}}{{{.}}}{{/lambda.javaStringLiteral}}, {{/xmlNamespace}}name = {{#lambda.javaStringLiteral}}{{#xmlName}}{{{xmlName}}}{{/xmlName}}{{^xmlName}}{{{classname}}}{{/xmlName}}{{/lambda.javaStringLiteral}})
@XmlAccessorType(XmlAccessType.FIELD){{/withXml}}