/* Core color palette */
$color-core-black: #000;
$color-core-white: #fff;
$color-core-blue: #2d74da;
$color-core-gray: #58595b;
$color-core-lightgray: #f3f3f3;

/* Extended color palette */
$color-extended-yellow-1: #ffe14f;
$color-extended-yellow-2: #ffcf01;
$color-extended-yellow-3: #fdb813;
$color-extended-yellow-4: #c5932d;

$color-extended-orange-1: #f19027;
$color-extended-orange-2: #dd731c;
$color-extended-orange-3: #b8471b;
$color-extended-orange-4: #813117;

$color-extended-red-1: #f04e37;
$color-extended-red-2: #d9182d;
$color-extended-red-3: #a91024;
$color-extended-red-4: #7e2322;

$color-extended-pink-1: #f389af;
$color-extended-pink-2: #ee3d96;
$color-extended-pink-3: #ba006e;
$color-extended-pink-4: #8c0052;

$color-extended-purple-1: #ab1a86;
$color-extended-purple-2: #7f1c7d;
$color-extended-purple-3: #3b0256;
$color-extended-purple-4: #28003e;

$color-extended-blue-1: #82d1f5;
$color-extended-blue-2: #00b0da;
$color-extended-blue-3: #00b2ef;
$color-extended-blue-4: #008abf;
$color-extended-blue-5: #00649d;
$color-extended-blue-6: #003f69;
$color-extended-blue-7: #004266;
$color-extended-blue-8: #001934;

$color-extended-teal-1: #00a6a0;
$color-extended-teal-2: #007670;
$color-extended-teal-3: #006058;
$color-extended-teal-4: #00443d;

$color-extended-green-1: #8cc63f;
$color-extended-green-2: #17af4b;
$color-extended-green-3: #008a52;
$color-extended-green-4: #00512b;

$color-extended-olive-1: #a5a215;
$color-extended-olive-2: #838329;
$color-extended-olive-3: #594f13;
$color-extended-olive-4: #3c3900;
