package {{package}}

import org.springframework.stereotype.Controller
import org.springframework.web.bind.annotation.RequestMapping
import java.util.Optional
{{#useRequestMappingOnController}}
import {{#apiPackage}}{{.}}.{{/apiPackage}}{{classname}}Controller.Companion.BASE_PATH
{{/useRequestMappingOnController}}

{{>generatedAnnotation}}

@Controller{{#beanQualifiers}}("{{package}}.{{classname}}Controller"){{/beanQualifiers}}
{{#useRequestMappingOnController}}
{{=<% %>=}}
@RequestMapping("\${openapi.<%title%>.base-path:\${api.base-path:$BASE_PATH}}")
<%={{ }}=%>
{{/useRequestMappingOnController}}
{{#operations}}
class {{classname}}Controller(
        {{#skipDefaultDelegateInterface}}
        private val delegate: {{classname}}Delegate
        {{/skipDefaultDelegateInterface}}
        {{^skipDefaultDelegateInterface}}
        delegate: {{classname}}Delegate?
        {{/skipDefaultDelegateInterface}}
) : {{classname}} {
{{^skipDefaultDelegateInterface}}
    private lateinit var delegate: {{classname}}Delegate

    init {
        this.delegate = Optional.ofNullable(delegate).orElse(object : {{classname}}Delegate {})
    }
{{/skipDefaultDelegateInterface}}

    override fun getDelegate(): {{classname}}Delegate = delegate
{{#useRequestMappingOnController}}

    companion object {
    //for your own safety never directly reuse these path definitions in tests
        const val BASE_PATH: String = "{{=<% %>=}}<%>defaultBasePath%><%={{ }}=%>"
    }

{{/useRequestMappingOnController}}
}
{{/operations}}
