{{#swagger2AnnotationLibrary}}
        @get:Schema({{#example}}example = {{#lambda.kotlinStringLiteral}}{{{.}}}{{/lambda.kotlinStringLiteral}}, {{/example}}{{#required}}requiredMode = Schema.RequiredMode.REQUIRED, {{/required}}{{#isReadOnly}}readOnly = {{{isReadOnly}}}, {{/isReadOnly}}description = {{#lambda.kotlinStringLiteral}}{{{unescapedDescription}}}{{/lambda.kotlinStringLiteral}}){{/swagger2AnnotationLibrary}}{{#swagger1AnnotationLibrary}}
        @get:ApiModelProperty({{#example}}example = {{#lambda.kotlinStringLiteral}}{{{.}}}{{/lambda.kotlinStringLiteral}}, {{/example}}{{#required}}required = {{required}}, {{/required}}{{#isReadOnly}}readOnly = {{{isReadOnly}}}, {{/isReadOnly}}value = {{#lambda.kotlinStringLiteral}}{{{unescapedDescription}}}{{/lambda.kotlinStringLiteral}}){{/swagger1AnnotationLibrary}}{{#vendorExtensions.x-field-extra-annotation}}
        {{{.}}}{{/vendorExtensions.x-field-extra-annotation}}
        {{#isInherited}}override {{/isInherited}}{{>modelMutable}} {{{name}}}: {{#isEnum}}{{classname}}.{{nameInPascalCase}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}? {{^discriminator}}= {{{defaultValue}}}{{^defaultValue}}null{{/defaultValue}}{{/discriminator}}
