package {{basePackage}}

import org.springframework.context.annotation.Bean
import org.springframework.context.annotation.Configuration

import io.swagger.v3.oas.models.OpenAPI
import io.swagger.v3.oas.models.info.Info
import io.swagger.v3.oas.models.info.Contact
import io.swagger.v3.oas.models.info.License
import io.swagger.v3.oas.models.Components
import io.swagger.v3.oas.models.security.SecurityScheme

@Configuration
class SpringDocConfiguration {

    @Bean
    fun apiInfo(): OpenAPI {
        return OpenAPI()
            .info(
                Info(){{#appName}}
                    .title({{#lambda.kotlinStringLiteral}}{{{appNameRaw}}}{{/lambda.kotlinStringLiteral}}){{/appName}}
                    .description({{#lambda.kotlinStringLiteral}}{{{unescapedAppDescription}}}{{/lambda.kotlinStringLiteral}}){{#termsOfService}}
                    .termsOfService({{#lambda.kotlinStringLiteral}}{{{termsOfServiceRaw}}}{{/lambda.kotlinStringLiteral}}){{/termsOfService}}{{#openAPI}}{{#info}}{{#contact}}
                    .contact(
                        Contact(){{#infoName}}
                            .name({{#lambda.kotlinStringLiteral}}{{{infoNameRaw}}}{{/lambda.kotlinStringLiteral}}){{/infoName}}{{#infoUrl}}
                            .url({{#lambda.kotlinStringLiteral}}{{{infoUrlRaw}}}{{/lambda.kotlinStringLiteral}}){{/infoUrl}}{{#infoEmail}}
                            .email({{#lambda.kotlinStringLiteral}}{{{infoEmailRaw}}}{{/lambda.kotlinStringLiteral}}){{/infoEmail}}
                    ){{/contact}}{{#license}}
                    .license(
                        License()
                            {{#licenseInfo}}.name({{#lambda.kotlinStringLiteral}}{{{licenseInfoRaw}}}{{/lambda.kotlinStringLiteral}})
                            {{/licenseInfo}}{{#licenseUrl}}.url({{#lambda.kotlinStringLiteral}}{{{licenseUrlRaw}}}{{/lambda.kotlinStringLiteral}})
                            {{/licenseUrl}}
                    ){{/license}}{{/info}}{{/openAPI}}
                    .version({{#lambda.kotlinStringLiteral}}{{{appVersionRaw}}}{{/lambda.kotlinStringLiteral}})
            ){{#hasAuthMethods}}
            .components(
                Components(){{#authMethods}}
                    .addSecuritySchemes({{#lambda.kotlinStringLiteral}}{{{name}}}{{/lambda.kotlinStringLiteral}}, SecurityScheme(){{#isBasic}}
                        .type(SecurityScheme.Type.HTTP)
                        .scheme({{#lambda.kotlinStringLiteral}}{{{scheme}}}{{/lambda.kotlinStringLiteral}}){{#bearerFormat}}
                        .bearerFormat({{#lambda.kotlinStringLiteral}}{{{bearerFormat}}}{{/lambda.kotlinStringLiteral}}){{/bearerFormat}}{{/isBasic}}{{#isApiKey}}
                        .type(SecurityScheme.Type.APIKEY){{#isKeyInHeader}}
                        .`in`(SecurityScheme.In.HEADER){{/isKeyInHeader}}{{#isKeyInQuery}}
                        .`in`(SecurityScheme.In.QUERY){{/isKeyInQuery}}{{#isKeyInCookie}}
                        .`in`(SecurityScheme.In.COOKIE){{/isKeyInCookie}}
                        .name({{#lambda.kotlinStringLiteral}}{{{keyParamName}}}{{/lambda.kotlinStringLiteral}}){{/isApiKey}}{{#isOAuth}}
                        .type(SecurityScheme.Type.OAUTH2){{/isOAuth}}
                    ){{/authMethods}}
            ){{/hasAuthMethods}}
    }
}
