package {{package}}

{{#imports}}import {{import}}
{{/imports}}

{{#models}}

{{#model}}

case class {{classname}} (
  {{#vars}}

  {{#description}}/* {{{description}}} */
  {{/description}}
  {{name}}: {{datatype}}{{#hasMore}},{{newline}}  {{/hasMore}}
  {{/vars}})
{{/model}}
{{/models}}