<?xml version="1.0"?>
<package>
    <metadata>
        <id>{{packageName}}</id>
        <title>{{packageName}}</title>
        <version>{{{version}}}</version>
        <authors>openapi-generator</authors>
        <owners>openapi-generator</owners>
        <requireLicenseAcceptance>false</requireLicenseAcceptance>
        <description>NancyFx {{packageName}} API</description>{{#termsOfService}}
        <copyright>{{termsOfService}}</copyright>{{/termsOfService}}{{#licenseUrl}}
        <licenseUrl>{{licenseUrl}}</licenseUrl>{{/licenseUrl}}
    </metadata>
</package>