{{>licenseInfo}}
{{#operations}}

#include "pistache/endpoint.h"
#include "pistache/http.h"
#include "pistache/router.h"
#include "{{classname}}Impl.h"

using namespace {{apiNamespace}};

int main() {
    Pistache::Address addr(Pistache::Ipv4::any(), Pistache::Port(8080));

    {{classname}}Impl server(addr);
    server.init(2);
    server.start();

    server.shutdown();
}

{{/operations}}