// tslint:disable
{{>licenseInfo}}
import { Observable } from 'rxjs';
import { BaseAPI{{#hasHttpHeaders}}, HttpHeaders{{/hasHttpHeaders}}{{#hasQueryParams}}, HttpQuery{{/hasQueryParams}}{{#hasRequiredParameters}}, throwIfNullOrUndefined{{/hasRequiredParameters}}{{#hasPathParams}}, encodeURI{{/hasPathParams}}{{#hasListContainers}}, COLLECTION_FORMATS{{/hasListContainers}} } from '../runtime';
{{#imports.0}}
import {
    {{#imports}}
    {{className}},
    {{/imports}}
} from '../models';
{{/imports.0}}

{{#operations}}
{{#operation}}
{{#allParams.0}}
export interface {{operationIdCamelCase}}Request {
    {{#allParams}}
    {{paramName}}{{^required}}?{{/required}}: {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}};
    {{/allParams}}
}

{{/allParams.0}}
{{/operation}}
{{/operations}}
{{#operations}}
/**
 * {{#description}}{{{description}}}{{/description}}{{^description}}no description{{/description}}
 */
export class {{classname}} extends BaseAPI {

    {{#operation}}
    /**
     {{#notes}}
     * {{&notes}}
     {{/notes}}
     {{#summary}}
     * {{&summary}}
     {{/summary}}
     */
    {{nickname}} = ({{#allParams.0}}{ {{#allParams}}{{paramName}}, {{/allParams}}}: {{operationIdCamelCase}}Request{{/allParams.0}}): Observable<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}> => {
        {{#hasParams}}
        {{#allParams}}
        {{#required}}
        throwIfNullOrUndefined({{paramName}}, '{{nickname}}');
        {{/required}}
        {{/allParams}}

        {{/hasParams}}
        {{#hasHttpHeaders}}
        const headers: HttpHeaders = {
            {{#bodyParam}}
            {{^consumes}}
            'Content-Type': 'application/json',
            {{/consumes}}
            {{#consumes.0}}
            'Content-Type': '{{{mediaType}}}',
            {{/consumes.0}}
            {{/bodyParam}}
            {{#headerParams}}
            {{#isListContainer}}
            ...({{paramName}} != null ? { '{{baseName}}': {{paramName}}.join(COLLECTION_FORMATS['{{collectionFormat}}'])) } : undefined),
            {{/isListContainer}}
            {{^isListContainer}}
            ...({{paramName}} != null ? { '{{baseName}}': String({{paramName}}) } : undefined),
            {{/isListContainer}}
            {{/headerParams}}
            {{#authMethods}}
            {{#isBasic}}
            ...(this.configuration.username != null && this.configuration.password != null ? { Authorization: `Basic ${btoa(this.configuration.username + ':' + this.configuration.password)}` } : undefined),
            {{/isBasic}}
            {{#isApiKey}}
            {{#isKeyInHeader}}
            ...(this.configuration.apiKey && { '{{keyParamName}}': this.configuration.apiKey('{{keyParamName}}') }), // {{name}} authentication
            {{/isKeyInHeader}}
            {{/isApiKey}}
            {{#isOAuth}}
            // oauth required
            ...(this.configuration.accessToken != null
                ? { Authorization: typeof this.configuration.accessToken === 'function'
                    ? this.configuration.accessToken('{{name}}', [{{#scopes}}'{{{scope}}}'{{^-last}}, {{/-last}}{{/scopes}}])
                    : this.configuration.accessToken }
                : undefined
            ),
            {{/isOAuth}}
            {{/authMethods}}
        };

        {{/hasHttpHeaders}}
        {{#hasQueryParams}}
        {{^hasRequiredParameters}}
        const query: HttpQuery = {};

        {{/hasRequiredParameters}}
        {{#hasRequiredParameters}}
        const query: HttpQuery = {
            {{#queryParams}}
            {{#required}}
            {{#isListContainer}}
            {{#isCollectionFormatMulti}}
            '{{baseName}}': {{paramName}},
            {{/isCollectionFormatMulti}}
            {{^isCollectionFormatMulti}}
            '{{baseName}}': {{paramName}}.join(COLLECTION_FORMATS['{{collectionFormat}}']),
            {{/isCollectionFormatMulti}}
            {{/isListContainer}}
            {{^isListContainer}}
            {{#isDateTime}}
            '{{baseName}}': ({{paramName}} as any).toISOString(),
            {{/isDateTime}}
            {{^isDateTime}}
            {{#isDate}}
            '{{baseName}}': ({{paramName}} as any).toISOString(),
            {{/isDate}}
            {{^isDate}}
            '{{baseName}}': {{paramName}},
            {{/isDate}}
            {{/isDateTime}}
            {{/isListContainer}}
            {{/required}}
            {{/queryParams}}
        };

        {{/hasRequiredParameters}}
        {{#queryParams}}
        {{^required}}
        {{#isListContainer}}
        {{#isCollectionFormatMulti}}
        if ({{paramName}} != null) { query['{{baseName}}'] = {{paramName}}; }
        {{/isCollectionFormatMulti}}
        {{^isCollectionFormatMulti}}
        if ({{paramName}} != null) { query['{{baseName}}'] = {{paramName}}.join(COLLECTION_FORMATS['{{collectionFormat}}']); }
        {{/isCollectionFormatMulti}}
        {{/isListContainer}}
        {{^isListContainer}}
        {{#isDateTime}}
        if ({{paramName}} != null) { query['{{baseName}}'] = ({{paramName}} as any).toISOString(); }
        {{/isDateTime}}
        {{^isDateTime}}
        {{#isDate}}
        if ({{paramName}} != null) { query['{{baseName}}'] = ({{paramName}} as any).toISOString(); }
        {{/isDate}}
        {{^isDate}}
        if ({{paramName}} != null) { query['{{baseName}}'] = {{paramName}}; }
        {{/isDate}}
        {{/isDateTime}}
        {{/isListContainer}}
        {{/required}}
        {{/queryParams}}
        {{#authMethods}}
        {{#isApiKey}}
        {{#isKeyInQuery}}
        if (this.configuration.apiKey != null) { query['{{keyParamName}}'] = this.configuration.apiKey('{{keyParamName}}'); } // {{name}} authentication
        {{/isKeyInQuery}}
        {{/isApiKey}}
        {{/authMethods}}
        {{/hasQueryParams}}
        {{#hasFormParams}}
        const formData = new FormData();
        {{#formParams}}
        {{#isListContainer}}
        if ({{paramName}} != null) {
            {{#isCollectionFormatMulti}}
            {{paramName}}.forEach((element) => formData.append('{{baseName}}', element as any))
            {{/isCollectionFormatMulti}}
            {{^isCollectionFormatMulti}}
            formData.append('{{baseName}}', {{paramName}}.join(COLLECTION_FORMATS['{{collectionFormat}}']));
            {{/isCollectionFormatMulti}}
        }

        {{/isListContainer}}
        {{^isListContainer}}
        if ({{paramName}} != null) { formData.append('{{baseName}}', {{paramName}} as any); }
        {{/isListContainer}}
        {{/formParams}}

        {{/hasFormParams}}
        return this.request<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}>({
            path: '{{{path}}}'{{#pathParams}}.replace({{=<% %>=}}'{<%baseName%>}'<%={{ }}=%>, encodeURI({{paramName}})){{/pathParams}},
            method: '{{httpMethod}}',
            {{#hasHttpHeaders}}
            headers,
            {{/hasHttpHeaders}}
            {{#hasQueryParams}}
            query,
            {{/hasQueryParams}}
            {{#hasBodyParam}}
            {{#bodyParam}}
            {{#isContainer}}
            body: {{paramName}},
            {{/isContainer}}
            {{^isContainer}}
            {{^isPrimitiveType}}
            body: {{paramName}},
            {{/isPrimitiveType}}
            {{#isPrimitiveType}}
            body: {{paramName}} as any,
            {{/isPrimitiveType}}
            {{/isContainer}}
            {{/bodyParam}}
            {{/hasBodyParam}}
            {{#hasFormParams}}
            body: formData,
            {{/hasFormParams}}
{{#isResponseFile}}
            responseType: 'blob'
{{/isResponseFile}}
        });
    };

    {{/operation}}
}
{{/operations}}
{{#hasEnums}}

{{#operations}}
{{#operation}}
{{#allParams}}
{{#isEnum}}
/**
 * @export
 * @enum {string}
 */
export enum {{operationIdCamelCase}}{{enumName}} {
{{#allowableValues}}
    {{#enumVars}}
    {{{name}}} = {{{value}}}{{^-last}},{{/-last}}
    {{/enumVars}}
{{/allowableValues}}
}
{{/isEnum}}
{{/allParams}}
{{/operation}}
{{/operations}}
{{/hasEnums}}
