#include "AbstractService.h"
#include "Arduino.h"

{{#isESP8266}}
void Tiny::AbstractService::begin(std::string url){
    http.begin(client, String(url.c_str()));
}
{{/isESP8266}}


{{#isESP32}}
void Tiny::AbstractService::begin(std::string url){
    http.begin(String(url.c_str()), test_root_ca); //HTTPS connection
}
{{/isESP32}}
