{
  "name": "{{npmName}}",
  "version": "{{npmVersion}}",
  "description": "swagger client for {{npmName}}",
  "author": "Swagger Codegen Contributors",
  "keywords": [
    "fetch",
    "typescript",
    "swagger-client",
    "{{npmName}}"
  ],
  "license": "Unlicense",
  "main": "./dist/index.js",
  "typings": "./dist/index.d.ts",
  "scripts" : {
    "build": "tsc --outDir dist/",
    "postinstall": "npm run build"
  },
  "dependencies": {
    "isomorphic-fetch": "^2.2.1"
  },
  "devDependencies": {
    "@types/isomorphic-fetch": "0.0.34",
    "@types/node": "^8.0.9",
    "typescript": "^2.0"
  }{{#npmRepository}},{{/npmRepository}}
{{#npmRepository}}
  "publishConfig":{
    "registry":"{{npmRepository}}"
  }
{{/npmRepository}}
}
