{{>partial_header}}
package {{packageName}}

{{#operations}}
import (
	"fmt"
	"net/http"
	"regexp"
	"github.com/gin-gonic/gin"
)

var (
	jsonCheck = regexp.MustCompile(`(?i:(?:application|text)/(?:vnd\.[^;]+\+)?json)`)
	xmlCheck  = regexp.MustCompile(`(?i:(?:application|text)/xml)`)
)

// Command passed to handler type
type Command func(*gin.Context) interface{}

// render response based on content type
func render(c *gin.Context, contentType string, code int, response interface{}) {
	switch {
	case jsonCheck.MatchString(contentType):
		c.JSON(code, response)
	case xmlCheck.MatchString(contentType):
		c.XML(code, response)
	default:
		c.String(http.StatusNotImplemented, "content type not implemented", response)
	}
}

{{#operation}}
{{#responses}}
// {{nickname}}Response{{code}} controller response type
type {{nickname}}Response{{code}} struct {
	{{#isModel}}{{{dataType}}}{{/isModel}}{{^isModel}}Payload {{{dataType}}}{{/isModel}}
}

{{/responses}}
// {{nickname}}Headers : request headers
type {{nickname}}Headers struct {
	{{#headerParams}}
	{{#description}}
	// {{unescapedDescription}}
	{{/description}}
	{{#camelize}}{{paramName}}{{/camelize}} {{{dataType}}} {{>struct_tags}}
	{{/headerParams}}
}

// {{nickname}}QueryParams : query/GET request parameters
type {{nickname}}QueryParams struct {
	{{#queryParams}}
	{{#description}}
	// {{unescapedDescription}}
	{{/description}}
	{{#camelize}}{{paramName}}{{/camelize}} {{{dataType}}} {{>struct_tags}}
	{{/queryParams}}
}

// {{nickname}}PathParams : in path request parameters
type {{nickname}}PathParams struct {
	{{#pathParams}}
	{{#description}}
	// {{unescapedDescription}}
	{{/description}}
	{{#camelize}}{{paramName}}{{/camelize}} {{{dataType}}} {{>struct_tags}}
	{{/pathParams}}
}

// {{nickname}}FormParams : form/POST request parameters
type {{nickname}}FormParams struct {
	{{#formParams}}
	{{#description}}
	// {{unescapedDescription}}
	{{/description}}
	{{#camelize}}{{paramName}}{{/camelize}} {{{dataType}}} {{>struct_tags}}
	{{/formParams}}
}

// {{nickname}}Request payload object
type {{nickname}}Request struct {
	Headers *{{nickname}}Headers
	QueryParams *{{nickname}}QueryParams
	PathParams *{{nickname}}PathParams
	FormParams *{{nickname}}FormParams
}

// Bind : gin bind
func (o *{{nickname}}Request) Bind (c *gin.Context) error {
    var err error

	{{#hasHeaderParams}}
    o.Headers = &{{nickname}}Headers{}
	err = c.ShouldBindHeader(o.Headers)
	if err != nil {
		return err
	}

	{{/hasHeaderParams}}
	{{#hasQueryParams}}
    o.QueryParams = &{{nickname}}QueryParams{}
	err = c.ShouldBindQuery(o.QueryParams)
	if err != nil {
		return err
	}

	{{/hasQueryParams}}
	{{#hasPathParams}}
    o.PathParams = &{{nickname}}PathParams{}
	err = c.ShouldBindUri(o.PathParams)
	if err != nil {
		return err
	}

	{{/hasPathParams}}
	{{#hasFormParams}}
    o.FormParams = &{{nickname}}FormParams{}
	err = c.ShouldBind(o.FormParams)
	if err != nil {
		return err
	}

	{{/hasFormParams}}
	return err
}

// New{{nickname}}Handler constructor
func New{{nickname}}Handler(cmd Command) gin.HandlerFunc {
	return func(c *gin.Context) {
		resp := cmd(c)

		switch resp.(type) {
		{{#responses}}
		case {{nickname}}Response{{code}}:
			render(c, "{{#produces}}{{mediaType}}{{/produces}}", {{code}}, resp)
		{{/responses}}
		default:
			err := fmt.Sprintf("{{nickname}}() command response type mismatch. [%T] != ENUM[{{#responses}}{{nickname}}Response{{code}}, {{/responses}}]")
			c.String(http.StatusNotImplemented, err, resp)
		}
	}
}
{{/operation}}
{{/operations}}