`json:"{{baseName}}{{^required}},omitempty{{/required}}"{{#isHeaderParam}} header:"{{baseName}}"{{/isHeaderParam}}{{#isPathParam}} uri:"{{baseName}}"{{/isPathParam}}{{#isQueryParam}} form:"{{baseName}}"{{/isQueryParam}}{{#isFormParam}} form:"{{baseName}}"{{/isFormParam}} binding:"{{#required}}required{{/required}}{{#isEmail}},email{{/isEmail}}{{#isUuid}},uuid{{/isUuid}}{{#isEmail}},email{{/isEmail}}{{#uri}},uri{{/uri}}"`