{{>licenseInfo}}
{{#imports}}with {{import}};
{{/imports}}
with {{package}}.Models;
with Swagger.Clients;
package {{package}}.Clients is

   type Client_Type is new Swagger.Clients.Client_Type with null record;

{{#apiInfo}}
{{#apis}}
{{#operations}}
{{#operation}}
   --  {{summary}}{{#vendorExtensions.x-has-notes}}
   --  {{#lambdaAdaComment}}{{unescapedNotes}}{{/lambdaAdaComment}}{{/vendorExtensions.x-has-notes}}
   procedure {{operationId}}
      (Client : in out Client_Type{{#hasParams}};{{/hasParams}}{{#allParams}}
       {{paramName}} : in {{^isFile}}{{^isString}}{{^isPrimitiveType}}{{^isContainer}}{{package}}.Models.{{/isContainer}}{{/isPrimitiveType}}{{/isString}}{{/isFile}}{{dataType}}{{#hasMore}};{{/hasMore}}{{/allParams}}{{#returnType}};
       Result : out {{returnType}}{{/returnType}});

{{/operation}}
{{/operations}}
{{/apis}}
{{/apiInfo}}
end {{package}}.Clients;
