module {{gitHost}}/{{gitUserId}}/{{gitRepoId}}{{#isGoSubmodule}}/{{packageName}}{{/isGoSubmodule}}

go 1.23

require (
	{{#hasOAuthMethods}}
	github.com/stretchr/testify v1.10.0
	golang.org/x/oauth2 v0.27.0
	{{/hasOAuthMethods}}
	{{#withAWSV4Signature}}
	github.com/aws/aws-sdk-go-v2 v1.37.0
	{{/withAWSV4Signature}}
	{{#importValidator}}
	gopkg.in/validator.v2 v2.0.1
	{{/importValidator}}
)
