{{>partial_header}}
package {{packageName}}
{{#models}}
{{#imports}}
{{#-first}}
import (
{{/-first}}
	"{{import}}"
{{#-last}}
)
{{/-last}}
{{/imports}}
{{#model}}
{{#isEnum}}
{{>bodyModelEnum}}
{{/isEnum}}
{{^isEnum}}
{{#oneOf}}{{#-first}}{{>bodyModelOneOf}}{{/-first}}{{/oneOf}}
{{^oneOf}}
{{>bodyModelStruct}}
{{/oneOf}}
{{/isEnum}}
{{/model}}
{{/models}}
