body, #mainWrapper {
	height: 70%;
	background-color:rgb(245, 245, 245);
}

body, .form-control{
	font-size:12px!important;
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}

.formcontainer{
	background-color: #DAE8E8;
	padding: 20px;
}

.tablecontainer{
	padding-left: 20px;
}

.generic-container {
  width:80%;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}

.custom-width {
    width: 80px !important;
}


.tabsDynamicTabs md-content {
  background-color: transparent !important; }
  .tabsDynamicTabs md-content md-tabs {
    border: 1px solid #e1e1e1; }
    .tabsDynamicTabs md-content md-tabs md-tab-content {
      background: #f6f6f6; }
    .tabsDynamicTabs md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsDynamicTabs md-content h1:first-child {
    margin-top: 0; }

.tabsDynamicTabs md-input-container {
  padding-bottom: 0; }

.tabsDynamicTabs .remove-tab {
  margin-bottom: 40px; }

.tabsDynamicTabs .-tab > div > div {
  padding: 25px;
  box-sizing: border-box; }

.tabsDynamicTabs .edit-form input {
  width: 100%; }

.tabsDynamicTabs md-tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.tabsDynamicTabs md-tab[disabled] {
  opacity: 0.5; }

.tabsDynamicTabs label {
  text-align: left; }

.tabsDynamicTabs .long > input {
  width: 264px; }

.tabsDynamicTabs .md-button.add-tab {
  transform: translateY(5px); }
