{{#isBodyParam}}<div class="param">{{baseName}} {{#isContainer}}{{containerType}}[{{/isContainer}}{{#baseType}}<a href="#{{baseType}}">{{baseType}}</a>{{/baseType}}{{#isContainer}}]{{/isContainer}} {{^required}}(optional){{/required}}{{#required}}(required){{/required}}</div>

      <div class="param-desc"><span class="param-type">Body Parameter</span> &mdash; {{unescapedDescription}} {{#defaultValue}}default: {{{.}}}{{/defaultValue}}</div>{{/isBodyParam}}
