<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<groupId>org.openapitools</groupId>
	<artifactId>sample-project</artifactId>
	<packaging>jar</packaging>
	<version>1.0-SNAPSHOT</version>
	<name>sample-project</name>
	<url>https://maven.apache.org</url>

	<parent>
		<groupId>org.springframework.boot</groupId>
		<artifactId>spring-boot-starter-parent</artifactId>
		<version>2.2.1.RELEASE</version>
	</parent>
	<build>
		<plugins>
			<!-- activate the plugin -->
			<plugin>
				<groupId>org.openapitools</groupId>
				<artifactId>openapi-generator-maven-plugin</artifactId>
				<!-- RELEASE_VERSION -->
				<version>4.3.1-SNAPSHOT</version>
				<!-- /RELEASE_VERSION -->
				<executions>
					<execution>
						<id>spring-server</id>
						<goals>
							<goal>generate</goal>
						</goals>
						<configuration>
							<!-- specify the swagger yaml -->
							<inputSpec>${project.basedir}/swagger.yaml</inputSpec>

							<!-- target to generate java client code -->
							<generatorName>spring</generatorName>

							<!-- hint: if you want to generate java server code, e.g. based on Spring Boot,
								 you can use the following target: <generatorName>spring</generatorName> -->

							<!-- pass any necessary config options -->
							<configOptions>
								<serializableModel>true</serializableModel>
								<snapshotVersion>true</snapshotVersion>
							</configOptions>

						</configuration>
					</execution>

				</executions>
			</plugin>
			<plugin>
				<groupId>org.apache.maven.plugins</groupId>
				<artifactId>maven-compiler-plugin</artifactId>
				<version>3.8.1</version>
				<configuration>
					<source>1.8</source>
					<target>1.8</target>
					<proc>none</proc>
				</configuration>
			</plugin>
		</plugins>
		<pluginManagement>
		</pluginManagement>
	</build>
	<pluginRepositories>
		<pluginRepository>
			<id>sonatype-snapshots</id>
			<url>https://oss.sonatype.org/content/repositories/snapshots/</url>
		</pluginRepository>
	</pluginRepositories>
	<dependencies>
		<!-- dependencies are needed for the client being generated -->

		<dependency>
			<groupId>io.swagger</groupId>
			<artifactId>swagger-annotations</artifactId>
			<version>${swagger-annotations-version}</version>
		</dependency>

		<!-- You can find the dependencies for the library configuation you chose by looking in JavaClientCodegen.
			 Then find the corresponding dependency on Maven Central, and set the versions in the property section below -->

		<dependency>
			<groupId>org.springframework.boot</groupId>
			<artifactId>spring-boot-starter-web</artifactId>
		</dependency>
		<!--SpringFox dependencies -->
		<dependency>
			<groupId>io.springfox</groupId>
			<artifactId>springfox-swagger2</artifactId>
			<version>${springfox-version}</version>
		</dependency>
		<dependency>
			<groupId>io.springfox</groupId>
			<artifactId>springfox-swagger-ui</artifactId>
			<version>${springfox-version}</version>
		</dependency>
		<dependency>
			<groupId>javax.xml.bind</groupId>
			<artifactId>jaxb-api</artifactId>
			<version>2.2.11</version>
		</dependency>
		<dependency>
			<groupId>com.fasterxml.jackson.datatype</groupId>
			<artifactId>jackson-datatype-jsr310</artifactId>
		</dependency>
		<dependency>
			<groupId>org.openapitools</groupId>
			<artifactId>jackson-databind-nullable</artifactId>
			<version>0.1.0</version>
		</dependency>
		<!-- Bean Validation API support -->
		<dependency>
			<groupId>javax.validation</groupId>
			<artifactId>validation-api</artifactId>
		</dependency>
	</dependencies>

	<properties>
		<swagger-annotations-version>1.5.8</swagger-annotations-version>

		<spring-boot-starter-web.version>2.2.1.RELEASE</spring-boot-starter-web.version>
		<springfox-version>2.8.0</springfox-version>
	</properties>
</project>
