//enum def

extension type const {{{classname}}}._({{dataType}} value) implements {{dataType}} {
  {{#allowableValues}}
    {{#enumVars}}
      {{#description}}
  /// {{{.}}}
      {{/description}}
      const {{{classname}}}.{{name}}() : this._({{#isString}}r{{/isString}}{{{value}}});
    {{/enumVars}}
  {{/allowableValues}}

  /// Creates a [{{{classname}}}] enum from a value and safely checking if it exists.
  factory {{{classname}}}.$safe({{dataType}} value) {
    final res = values.where((element) => element.value == value).firstOrNull;
    if (res == null) {
      throw 'Invalid enum value $value';
    }
    return res;
  }

  static const $reflection = EnumReflection(
    PrimitiveReflection.for{{dataType}},
    members: [
      {{#allowableValues}}{{#enumVars}}
        EnumMemberReflection(dartName: r'{{name}}', oasValue: {{#isString}}r{{/isString}}{{{value}}}, value: {{{classname}}}.{{name}}()),
      {{/enumVars}}{{/allowableValues}}
    ],
  );

  factory {{{classname}}}.deserialize(Object? value, [SerializationContext context = const SerializationContext.json()]) {
    return $reflection.deserializeFunction(value, context);
  }

  static bool canDeserialize(Object? value, [SerializationContext context = const SerializationContext.json()]) {
    return $reflection.canDeserializeFunction(value, context);
  }

  Object? serialize([SerializationContext context = const SerializationContext.json()]) {
    return $reflection.serializeFunction(this, context);
  }

  /// Creates a [{{{classname}}}] enum from a value without checking if it exists.
  const {{{classname}}}.$unsafe({{dataType}} value) : this._(value);

  /// All possible values of the enum.
  static const List<{{{classname}}}> values = [
    {{#allowableValues}}{{#enumVars}}{{{classname}}}.{{name}}(),
    {{/enumVars}}{{/allowableValues}}
  ];
}