        public enum {{#datatypeWithEnum}}{{.}}{{/datatypeWithEnum}}{{^datatypeWithEnum}}{{classname}}{{/datatypeWithEnum}} {
            {{#allowableValues}}{{#enumVars}}
            [EnumMember(Value = {{{value}}})]
            {{name}}{{^-last}},
            {{/-last}}{{#-last}}{{/-last}}{{/enumVars}}{{/allowableValues}}
        }
