using System.Net.Http;

namespace {{packageName}}.Client
{
    /// <summary>
    /// Any Api client
    /// </summary>
    {{>visibility}} interface {{interfacePrefix}}Api
    {
        /// <summary>
        /// The HttpClient
        /// </summary>
        HttpClient HttpClient { get; }

        /// <summary>
        /// The EventHub
        /// If you store these event args, be sure to purge old event args to prevent a memory leak.
        /// </summary>
        IEventHub EventHub { get; }
    }
}