    /// <summary>
    /// A Json converter for type {{classname}}
    /// </summary>
    {{>visibility}} class {{classname}}JsonConverter : JsonConverter<{{classname}}>
    {
        {{#allVars}}
        {{#isDateTime}}
        /// <summary>
        /// The format to use to serialize {{name}}
        /// </summary>
        public static string {{name}}Format { get; set; } = "{{{dateTimeFormat}}}";

        {{/isDateTime}}
        {{#isDate}}
        /// <summary>
        /// The format to use to serialize {{name}}
        /// </summary>
        public static string {{name}}Format { get; set; } = "{{{dateFormat}}}";

        {{/isDate}}
        {{/allVars}}
        /// <summary>
        /// A Json reader.
        /// </summary>
        /// <param name="utf8JsonReader"></param>
        /// <param name="typeToConvert"></param>
        /// <param name="jsonSerializerOptions"></param>
        /// <returns></returns>
        /// <exception cref="JsonException"></exception>
        public override {{classname}} Read(ref Utf8JsonReader utf8JsonReader, Type typeToConvert, JsonSerializerOptions jsonSerializerOptions)
        {
            int currentDepth = utf8JsonReader.CurrentDepth;

            if (utf8JsonReader.TokenType != JsonTokenType.StartObject && utf8JsonReader.TokenType != JsonTokenType.StartArray)
                throw new JsonException();

            JsonTokenType startingTokenType = utf8JsonReader.TokenType;

            {{#composedSchemas.anyOf}}
            {{^vendorExtensions.x-duplicated-data-type}}
            Utf8JsonReader {{#lambda.camelcase_param}}{{baseType}}{{#isArray}}{{{dataFormat}}}{{/isArray}}{{/lambda.camelcase_param}}Reader = utf8JsonReader;
            bool {{#lambda.camelcase_param}}{{baseType}}{{#isArray}}{{{dataFormat}}}{{/isArray}}{{/lambda.camelcase_param}}Deserialized = Client.ClientUtils.TryDeserialize<{{{dataType}}}>(ref {{#lambda.camelcase_param}}{{baseType}}{{#isArray}}{{{dataFormat}}}{{/isArray}}{{/lambda.camelcase_param}}Reader, jsonSerializerOptions, out {{{dataType}}}{{^isBoolean}}{{nrt?}}{{/isBoolean}} {{#lambda.camelcase_param}}{{baseType}}{{#isArray}}{{{dataFormat}}}{{/isArray}}{{/lambda.camelcase_param}});

            {{/vendorExtensions.x-duplicated-data-type}}
            {{/composedSchemas.anyOf}}
            {{#composedSchemas.oneOf}}
            {{^vendorExtensions.x-duplicated-data-type}}
            Utf8JsonReader {{#lambda.camelcase_param}}{{baseType}}{{#isArray}}{{{dataFormat}}}{{/isArray}}{{/lambda.camelcase_param}}Reader = utf8JsonReader;
            bool {{#lambda.camelcase_param}}{{baseType}}{{#isArray}}{{{dataFormat}}}{{/isArray}}{{/lambda.camelcase_param}}Deserialized = Client.ClientUtils.TryDeserialize<{{{dataType}}}>(ref {{#lambda.camelcase_param}}{{baseType}}{{#isArray}}{{{dataFormat}}}{{/isArray}}{{/lambda.camelcase_param}}Reader, jsonSerializerOptions, out {{{dataType}}}{{^isBoolean}}{{nrt?}}{{/isBoolean}} {{#lambda.camelcase_param}}{{baseType}}{{#isArray}}{{{dataFormat}}}{{/isArray}}{{/lambda.camelcase_param}});

            {{/vendorExtensions.x-duplicated-data-type}}
            {{/composedSchemas.oneOf}}
            {{#composedSchemas.allOf}}
            {{^isInherited}}
            Utf8JsonReader {{#lambda.camelcase_param}}{{baseType}}{{#isArray}}{{{dataFormat}}}{{/isArray}}{{/lambda.camelcase_param}}Reader = utf8JsonReader;
            bool {{#lambda.camelcase_param}}{{baseType}}{{#isArray}}{{{dataFormat}}}{{/isArray}}{{/lambda.camelcase_param}}Deserialized = Client.ClientUtils.TryDeserialize<{{{dataType}}}>(ref utf8JsonReader, jsonSerializerOptions, out {{{dataType}}}{{^isBoolean}}{{nrt?}}{{/isBoolean}} {{#lambda.camelcase_param}}{{baseType}}{{#isArray}}{{{dataFormat}}}{{/isArray}}{{/lambda.camelcase_param}});

            {{/isInherited}}
            {{/composedSchemas.allOf}}
            {{#allVars}}
            {{#isInnerEnum}}{{^isMap}}{{classname}}.{{/isMap}}{{/isInnerEnum}}{{{datatypeWithEnum}}}{{#isEnum}}{{#isNullable}}?{{/isNullable}}{{/isEnum}} {{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}} = default;
            {{/allVars}}

            while (utf8JsonReader.Read())
            {
                if (startingTokenType == JsonTokenType.StartObject && utf8JsonReader.TokenType == JsonTokenType.EndObject && currentDepth == utf8JsonReader.CurrentDepth)
                    break;

                if (startingTokenType == JsonTokenType.StartArray && utf8JsonReader.TokenType == JsonTokenType.EndArray && currentDepth == utf8JsonReader.CurrentDepth)
                    break;

                if (utf8JsonReader.TokenType == JsonTokenType.PropertyName && currentDepth == utf8JsonReader.CurrentDepth - 1)
                {
                    string{{nrt?}} propertyName = utf8JsonReader.GetString();
                    utf8JsonReader.Read();

                    switch (propertyName)
                    {
                        {{#allVars}}
                        case "{{baseName}}":
                        {{#isString}}
                        {{^isMap}}
                        {{^isEnum}}
                        {{^isUuid}}
                            {{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}} = utf8JsonReader.GetString();
                        {{/isUuid}}
                        {{/isEnum}}
                        {{/isMap}}
                        {{/isString}}
                        {{#isBoolean}}
                            if (utf8JsonReader.TokenType != JsonTokenType.Null)
                                {{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}} = utf8JsonReader.GetBoolean();
                        {{/isBoolean}}
                        {{#isNumeric}}
                        {{^isEnum}}
                        {{#isDouble}}
                            if (utf8JsonReader.TokenType != JsonTokenType.Null)
                                {{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}} = utf8JsonReader.GetDouble();
                        {{/isDouble}}
                        {{#isDecimal}}
                            if (utf8JsonReader.TokenType != JsonTokenType.Null)
                                {{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}} = utf8JsonReader.GetDecimal();
                        {{/isDecimal}}
                        {{#isFloat}}
                            if (utf8JsonReader.TokenType != JsonTokenType.Null)
                                {{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}} = (float)utf8JsonReader.GetDouble();
                        {{/isFloat}}
                        {{#isLong}}
                            if (utf8JsonReader.TokenType != JsonTokenType.Null)
                                {{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}} = utf8JsonReader.Get{{#vendorExtensions.x-unsigned}}U{{/vendorExtensions.x-unsigned}}Int64();
                        {{/isLong}}
                        {{^isLong}}
                        {{^isFloat}}
                        {{^isDecimal}}
                        {{^isDouble}}
                            if (utf8JsonReader.TokenType != JsonTokenType.Null)
                                {{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}} = utf8JsonReader.Get{{#vendorExtensions.x-unsigned}}U{{/vendorExtensions.x-unsigned}}Int32();
                        {{/isDouble}}
                        {{/isDecimal}}
                        {{/isFloat}}
                        {{/isLong}}
                        {{/isEnum}}
                        {{/isNumeric}}
                        {{#isDate}}
                            if (utf8JsonReader.TokenType != JsonTokenType.Null)
                                {{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}} = JsonSerializer.Deserialize<DateTime{{#isNullable}}?{{/isNullable}}>(ref utf8JsonReader, jsonSerializerOptions);
                        {{/isDate}}
                        {{#isDateTime}}
                            if (utf8JsonReader.TokenType != JsonTokenType.Null)
                                {{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}} = JsonSerializer.Deserialize<DateTime{{#isNullable}}?{{/isNullable}}>(ref utf8JsonReader, jsonSerializerOptions);
                        {{/isDateTime}}
                        {{#isEnum}}
                        {{^isMap}}
                        {{#isNumeric}}
                            if (utf8JsonReader.TokenType != JsonTokenType.Null)
                                {{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}} = ({{#isInnerEnum}}{{classname}}.{{/isInnerEnum}}{{{datatypeWithEnum}}})utf8JsonReader.Get{{#vendorExtensions.x-unsigned}}U{{/vendorExtensions.x-unsigned}}Int32();
                        {{/isNumeric}}
                        {{^isNumeric}}
                            string {{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}}RawValue = utf8JsonReader.GetString();
                            {{^isInnerEnum}}
                            {{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}} = {{{datatypeWithEnum}}}Converter.FromString{{#isNullable}}OrDefault{{/isNullable}}({{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}}RawValue);
                            {{/isInnerEnum}}
                            {{#isInnerEnum}}
                            {{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}} = {{classname}}.{{{datatypeWithEnum}}}FromString({{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}}RawValue);
                            {{/isInnerEnum}}
                        {{/isNumeric}}
                        {{/isMap}}
                        {{/isEnum}}
                        {{#isUuid}}
                            if (utf8JsonReader.TokenType != JsonTokenType.Null)
                                {{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}} = utf8JsonReader.GetGuid();
                        {{/isUuid}}
                        {{^isUuid}}
                        {{^isEnum}}
                        {{^isString}}
                        {{^isBoolean}}
                        {{^isNumeric}}
                        {{^isDate}}
                        {{^isDateTime}}
                            if (utf8JsonReader.TokenType != JsonTokenType.Null)
                                {{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}} = JsonSerializer.Deserialize<{{{datatypeWithEnum}}}>(ref utf8JsonReader, jsonSerializerOptions);
                        {{/isDateTime}}
                        {{/isDate}}
                        {{/isNumeric}}
                        {{/isBoolean}}
                        {{/isString}}
                        {{/isEnum}}
                        {{/isUuid}}
                            break;
                        {{/allVars}}
                        default:
                            break;
                    }
                }
            }

            {{#nonNullableVars}}
            {{#-first}}
#pragma warning disable CS0472 // The result of the expression is always the same since a value of this type is never equal to 'null'
#pragma warning disable CS8073 // The result of the expression is always the same since a value of this type is never equal to 'null'

            {{/-first}}
            if ({{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}} == null)
                throw new ArgumentNullException(nameof({{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}}), "Property is required for class {{classname}}.");

            {{#-last}}
#pragma warning restore CS0472 // The result of the expression is always the same since a value of this type is never equal to 'null'
#pragma warning restore CS8073 // The result of the expression is always the same since a value of this type is never equal to 'null'

            {{/-last}}
            {{/nonNullableVars}}
            {{#composedSchemas.oneOf}}
            {{^vendorExtensions.x-duplicated-data-type}}
            if ({{#lambda.camelcase_param}}{{baseType}}{{#isArray}}{{{dataFormat}}}{{/isArray}}{{/lambda.camelcase_param}}Deserialized)
                return new {{classname}}({{#lambda.joinWithComma}}{{#lambda.camelcase_param}}{{#lambda.camelcase_param}}{{baseType}}{{#isArray}}{{{dataFormat}}}{{/isArray}}{{/lambda.camelcase_param}}{{/lambda.camelcase_param}}  {{#model.composedSchemas.allOf}}{{^isInherited}}{{#lambda.camelcase_param}}{{baseType}}{{#isArray}}{{{dataFormat}}}{{/isArray}}{{/lambda.camelcase_param}}{{/isInherited}}{{/model.composedSchemas.allOf}}{{#model.composedSchemas.anyOf}}{{#lambda.camelcase_param}}{{baseType}}{{#isArray}}{{{dataFormat}}}{{/isArray}}{{/lambda.camelcase_param}}  {{/model.composedSchemas.anyOf}}{{#allVars}}{{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}}  {{/allVars}}{{/lambda.joinWithComma}});

            {{/vendorExtensions.x-duplicated-data-type}}
            {{#-last}}
            throw new JsonException();
            {{/-last}}
            {{/composedSchemas.oneOf}}
            {{^composedSchemas.oneOf}}
            return new {{classname}}({{#lambda.joinWithComma}}{{#model.composedSchemas.allOf}}{{^isInherited}}{{#lambda.camelcase_param}}{{#lambda.camelcase_param}}{{baseType}}{{#isArray}}{{{dataFormat}}}{{/isArray}}{{/lambda.camelcase_param}}{{/lambda.camelcase_param}}  {{/isInherited}}{{/model.composedSchemas.allOf}}{{#model.composedSchemas.anyOf}}{{#lambda.camelcase_param}}{{#lambda.camelcase_param}}{{baseType}}{{#isArray}}{{{dataFormat}}}{{/isArray}}{{/lambda.camelcase_param}}{{/lambda.camelcase_param}}  {{/model.composedSchemas.anyOf}}{{#allVars}}{{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}}  {{/allVars}}{{/lambda.joinWithComma}});
            {{/composedSchemas.oneOf}}
        }

        /// <summary>
        /// A Json writer
        /// </summary>
        /// <param name="writer"></param>
        /// <param name="{{#lambda.camelcase_param}}{{classname}}{{/lambda.camelcase_param}}"></param>
        /// <param name="jsonSerializerOptions"></param>
        /// <exception cref="NotImplementedException"></exception>
        public override void Write(Utf8JsonWriter writer, {{classname}} {{#lambda.camelcase_param}}{{classname}}{{/lambda.camelcase_param}}, JsonSerializerOptions jsonSerializerOptions)
        {
            {{#composedSchemas.anyOf}}
            {{^vendorExtensions.x-duplicated-data-type}}
            System.Text.Json.JsonSerializer.Serialize(writer, {{#lambda.camelcase_param}}{{classname}}{{/lambda.camelcase_param}}.{{#lambda.titlecase}}{{baseType}}{{#isArray}}{{{dataFormat}}}{{/isArray}}{{/lambda.titlecase}}, jsonSerializerOptions);

            {{/vendorExtensions.x-duplicated-data-type}}
            {{/composedSchemas.anyOf}}
            {{#composedSchemas.oneOf}}
            {{^vendorExtensions.x-duplicated-data-type}}
            System.Text.Json.JsonSerializer.Serialize(writer, {{#lambda.camelcase_param}}{{classname}}{{/lambda.camelcase_param}}.{{#lambda.titlecase}}{{baseType}}{{#isArray}}{{{dataFormat}}}{{/isArray}}{{/lambda.titlecase}}, jsonSerializerOptions);

            {{/vendorExtensions.x-duplicated-data-type}}
            {{/composedSchemas.oneOf}}
            {{#composedSchemas.allOf}}
            {{^isInherited}}
            System.Text.Json.JsonSerializer.Serialize(writer, {{#lambda.camelcase_param}}{{classname}}{{/lambda.camelcase_param}}.{{#lambda.titlecase}}{{baseType}}{{#isArray}}{{{dataFormat}}}{{/isArray}}{{/lambda.titlecase}}, jsonSerializerOptions);

            {{/isInherited}}
            {{/composedSchemas.allOf}}
            {{^composedSchemas}}
            writer.WriteStartObject();

            {{#allVars}}
            {{#isString}}
            {{^isMap}}
            {{^isEnum}}
            {{^isUuid}}
            writer.WriteString("{{baseName}}", {{#lambda.camelcase_param}}{{classname}}{{/lambda.camelcase_param}}.{{name}});
            {{/isUuid}}
            {{/isEnum}}
            {{/isMap}}
            {{/isString}}
            {{#isBoolean}}
            {{#isNullable}}
            if ({{#lambda.camelcase_param}}{{classname}}{{/lambda.camelcase_param}}.{{name}} != null)
                writer.WriteBoolean("{{baseName}}", {{#lambda.camelcase_param}}{{classname}}{{/lambda.camelcase_param}}.{{name}}.Value);
            else
                writer.WriteNull("{{baseName}}");
            {{/isNullable}}
            {{^isNullable}}
            writer.WriteBoolean("{{baseName}}", {{#lambda.camelcase_param}}{{classname}}{{/lambda.camelcase_param}}.{{name}});
            {{/isNullable}}
            {{/isBoolean}}
            {{^isEnum}}
            {{#isNumeric}}
            {{#isNullable}}
            if ({{#lambda.camelcase_param}}{{classname}}{{/lambda.camelcase_param}}.{{name}} != null)
                writer.WriteNumber("{{baseName}}", {{#lambda.camelcase_param}}{{classname}}{{/lambda.camelcase_param}}.{{name}}.Value);
            else
                writer.WriteNull("{{baseName}}");
            {{/isNullable}}
            {{^isNullable}}
            writer.WriteNumber("{{baseName}}", {{#lambda.camelcase_param}}{{classname}}{{/lambda.camelcase_param}}.{{name}});
            {{/isNullable}}
            {{/isNumeric}}
            {{/isEnum}}
            {{#isDate}}
            {{#isNullable}}
            if ({{#lambda.camelcase_param}}{{classname}}{{/lambda.camelcase_param}}.{{name}} != null)
                writer.WriteString("{{baseName}}", {{#lambda.camelcase_param}}{{classname}}{{/lambda.camelcase_param}}.{{name}}.Value.ToString({{name}}Format));
            else
                writer.WriteNull("{{baseName}}");
            {{/isNullable}}
            {{^isNullable}}
            writer.WriteString("{{baseName}}", {{#lambda.camelcase_param}}{{classname}}{{/lambda.camelcase_param}}.{{name}}.ToString({{name}}Format));
            {{/isNullable}}
            {{/isDate}}
            {{#isDateTime}}
            {{#isNullable}}
            if ({{#lambda.camelcase_param}}{{classname}}{{/lambda.camelcase_param}}.{{name}} != null)
                writer.WriteString("{{baseName}}", {{#lambda.camelcase_param}}{{classname}}{{/lambda.camelcase_param}}.{{name}}.Value.ToString({{name}}Format));
            else
                writer.WriteNull("{{baseName}}");
            {{/isNullable}}
            {{^isNullable}}
            writer.WriteString("{{baseName}}", {{#lambda.camelcase_param}}{{classname}}{{/lambda.camelcase_param}}.{{name}}.ToString({{name}}Format));
            {{/isNullable}}
            {{/isDateTime}}
            {{#isEnum}}
            {{#isNumeric}}
            writer.WriteNumber("{{baseName}}", {{#isInnerEnum}}{{classname}}.{{/isInnerEnum}}{{{datatypeWithEnum}}}ToJsonValue({{#lambda.camelcase_param}}{{classname}}{{/lambda.camelcase_param}}.{{name}}));
            {{/isNumeric}}
            {{^isMap}}
            {{^isNumeric}}
            {{#isInnerEnum}}
            var {{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}}RawValue = {{classname}}.{{{datatypeWithEnum}}}ToJsonValue({{#lambda.camelcase_param}}{{classname}}{{/lambda.camelcase_param}}.{{name}});
            if ({{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}}RawValue != null)
                writer.WriteString("{{baseName}}", {{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}}RawValue);
            else
                writer.WriteNull("{{baseName}}");
            {{/isInnerEnum}}
            {{^isInnerEnum}}
            {{#isNullable}}
            if ({{#lambda.camelcase_param}}{{classname}}{{/lambda.camelcase_param}}.{{name}} == null)
                writer.WriteNull("{{baseName}}");
            {{/isNullable}}
            var {{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}}RawValue = {{{datatypeWithEnum}}}Converter.ToJsonValue({{#lambda.camelcase_param}}{{classname}}{{/lambda.camelcase_param}}.{{name}}{{#isNullable}}.Value{{/isNullable}});
            if ({{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}}RawValue != null)
                writer.Write{{#allowableValues}}{{#enumVars}}{{#-first}}{{#isString}}String{{/isString}}{{^isString}}Number{{/isString}}{{/-first}}{{/enumVars}}{{/allowableValues}}("{{baseName}}", {{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}}RawValue);
            else
                writer.WriteNull("{{baseName}}");
            {{/isInnerEnum}}
            {{/isNumeric}}
            {{/isMap}}
            {{/isEnum}}
            {{#isUuid}}
            {{^isNullable}}
            writer.WriteString("{{baseName}}", {{#lambda.camelcase_param}}{{classname}}{{/lambda.camelcase_param}}.{{name}});
            {{/isNullable}}
            {{#isNullable}}
            if ({{#lambda.camelcase_param}}{{classname}}{{/lambda.camelcase_param}}.{{name}} == null)
                writer.WriteNull("{{baseName}}");
            else
                writer.WriteString("{{baseName}}", {{#lambda.camelcase_param}}{{classname}}{{/lambda.camelcase_param}}.{{name}}.Value);
            {{/isNullable}}
            {{/isUuid}}
            {{^isUuid}}
            {{^isEnum}}
            {{^isString}}
            {{^isBoolean}}
            {{^isNumeric}}
            {{^isDate}}
            {{^isDateTime}}
            writer.WritePropertyName("{{baseName}}");
            JsonSerializer.Serialize(writer, {{#lambda.camelcase_param}}{{classname}}{{/lambda.camelcase_param}}.{{name}}, jsonSerializerOptions);
            {{/isDateTime}}
            {{/isDate}}
            {{/isNumeric}}
            {{/isBoolean}}
            {{/isString}}
            {{/isEnum}}
            {{/isUuid}}
            {{/allVars}}

            writer.WriteEndObject();
            {{/composedSchemas}}
        }
    }