{{#isBasic}}{{#isBasicBasic}}HttpBasicAuth{{/isBasicBasic}}{{^isBasicBasic}}HttpBasicBearerAuth{{/isBasicBasic}}{{/isBasic}}{{^isBasic}}{{#isApiKey}}ApiKeyAuth.Config{{/isApiKey}}{{^isApiKey}}{{#isOAuth}}OAuth{{/isOAuth}}{{^isOAuth}}AuthProvider{{/isOAuth}}{{/isApiKey}}{{/isBasic}}