{{#vendorExtensions.x-response-annotation}}{{{vendorExtensions.x-response-annotation}}}{{/vendorExtensions.x-response-annotation}}{{^vendorExtensions.x-response-annotation}}Response{{/vendorExtensions.x-response-annotation}}