{{>licenseInfo}}
package {{packageName}}.infrastructure

class ApiException : Exception {
    /**
    * Get the HTTP status code.
    *
    * @return HTTP status code
    */
    /**
    * Set the HTTP status code.
    *
    * @param code HTTP status code.
    */
    var code = 0
    override var message: String? = null

    constructor() {}
    constructor(code: Int, message: String?) {
        this.code = code
        this.message = message
    }

    /**
    * Get the error message.
    *
    * @return Error message.
    */
    override fun getMessage(): String {
        return message!!
    }

    /**
    * Set the error messages.
    *
    * @param message Error message.
    */
    fun setMessage(message: String?) {
        this.message = message
    }
}