{{>licenseInfo}}
import { AxiosRequestConfig } from 'axios';
import { axios } from '../axios.config';
{{#hasFormParams}}
import { stringify } from 'qs';
{{/hasFormParams}}

{{#imports}}
import { {{classname}} } from '../{{filename}}';
{{/imports}}

/* tslint:disable:no-unused-variable member-ordering max-line-length */
/* eslint-disable no-useless-concat */

{{#operations}}
{{#description}}
/**
 * {{&description}}
 */
{{/description}}
export class {{classname}}Resource {

{{#operation}}
    /**
     * {{summary}}
     * {{notes}}
     {{#allParams}}{{^isCookieParam}}{{^isHeaderParam}}* @param {{paramName}} {{description}}
     {{/isHeaderParam}}{{/isCookieParam}}{{/allParams}}
     */
    public {{nickname}}({{#allParams}}{{^isQueryParam}}{{^isCookieParam}}{{^isHeaderParam}}{{paramName}}{{^required}}?{{/required}}: {{{dataType}}}, {{/isHeaderParam}}{{/isCookieParam}}{{/isQueryParam}}{{/allParams}}{{#hasQueryParams}}query?: { {{#queryParams}}{{#lambda.snakecase_param}}{{paramName}}{{/lambda.snakecase_param}}{{^required}}?{{/required}}: {{{dataType}}}{{^-last}},{{/-last}} {{/queryParams}}}, {{/hasQueryParams}}axiosConfig?: AxiosRequestConfig): Promise<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}{}{{/returnType}}> {
        const reqPath = '{{path}}'{{#pathParams}}
                    .replace('{' + '{{baseName}}}', String({{paramName}}{{#isDateTime}}.toISOString(){{/isDateTime}})){{/pathParams}};
{{#hasFormParams}}
        let reqFormParams = {
{{#formParams}}
            {{baseName}}: {{paramName}}{{^-last}},{{/-last}}
{{/formParams}}
        };
{{/hasFormParams}}
        let reqConfig = {
            ...axiosConfig,
            method: '{{httpMethod}}',
            url: reqPath{{#hasQueryParams}},
            params: query{{/hasQueryParams}}{{#bodyParam}},
            data: {{paramName}}{{/bodyParam}}{{#hasFormParams}},
            headers: { 'Content-Type': 'application/x-www-form-urlencoded'},
            data: stringify(reqFormParams)
{{/hasFormParams}}

        };
        return axios.request(reqConfig)
            .then(res => {
                return res.data;
            });
    }

{{/operation}}
}
{{/operations}}

export const {{classname}} = new {{classname}}Resource();
