// tslint:disable
/// <reference path="./custom.d.ts" />
{{>licenseInfo}}

{{#models}}
    {{#model}}
{{#isEnum}}{{>modelEnum}}{{/isEnum}}{{^isEnum}}{{>modelGeneric}}{{/isEnum}}
    {{/model}}
{{/models}}

