{{>licenseInfo}}
package {{package}}

{{#imports}}
import {{import}}
{{/imports}}

{{#models}}
{{#model}}
case class {{classname}} (
  {{#vars}}
  {{#description}}
  // {{{.}}}
  {{/description}}
  {{{name}}}: {{^required}}Option[{{/required}}{{dataType}}{{^required}}] = None{{/required}}{{^-last}},{{/-last}}
  {{/vars}}
)

{{/model}}
{{/models}}
