{{>licenseInfo}}
const ApiClient = require('../ApiClient');
{{#imports}}const {{import}} = require('./{{import}}');
{{/imports}}{{#models}}{{#model}}{{#isEnum}}{{>partial_model_enum_class}}{{/isEnum}}{{^isEnum}}{{>partial_model_generic}}{{/isEnum}}{{/model}}{{/models}}
