{
  "name": "{{{projectName}}}",
  "version": "{{{projectVersion}}}",
  "description": "{{{projectDescription}}}",
  "license": "{{licenseName}}",
  "main": "src/index.js",
  "scripts": {
    "test": "mocha --require @babel/register --recursive"
  },
  "browser": {
    "fs": false
  },
{{#npmRepository}}
  "publishConfig":{
    "registry":"{{npmRepository}}"
  },
{{/npmRepository}}
  "dependencies": {
    "apollo-datasource-rest": "^3.6.1",
    "@babel/cli": "^7.18.10",
    "@babel/core": "^7.18.10",
    "@babel/preset-env": "^7.18.10",
    "@babel/register": "^7.18.9"
  },
  "devDependencies": {
    "@babel/cli": "^7.18.10",
    "@babel/core": "^7.18.10",
    "@babel/preset-env": "^7.18.10",
    "@babel/register": "^7.18.9",
    "expect.js": "^0.3.1",
    "mocha": "^5.2.0",
    "sinon": "^7.2.0"
  },
  "files": [
    "src"
  ]
}
