package {{apiPackage}};

import org.glassfish.jersey.media.multipart.MultiPartFeature;
import org.glassfish.jersey.server.ResourceConfig;
import org.springframework.stereotype.Component;

{{>generatedAnnotation}}
@Component
public class JerseyConfig extends ResourceConfig {

    public JerseyConfig() {
        packages("{{apiPackage}}");
        register(MultiPartFeature.class);
    }
}
