{{>licenseInfo}}
package {{packageName}}.auth

import kotlin.collections.MutableMap
import kotlin.collections.MutableList

public interface Authentication {
  /** Apply authentication settings to header and query params. */
  fun applyToParams(queryParams: MutableMap<String, String>, headerParams: MutableMap<String, String>)
}
