
            // var example = exampleJson != null
            // ? JsonConvert.DeserializeObject<{{{returnType}}}>(exampleJson)
            // : new {{{returnType}}}();

            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<Dictionary<{{{returnType}}}>>(exampleJson)
            : new Dictionary<{{{returnType}}}>();
