<?xml version="1.0"?>
<package >
    <metadata>
        <id>$id$</id>
        <version>{{packageVersion}}</version>
        <title>{{packageTitle}}</title>
        <authors>{{packageAuthors}}</authors>
        <owners>{{packageAuthors}}</owners>
        <licenseUrl>{{licenseUrl}}</licenseUrl>
        <!--
        <projectUrl>http://PROJECT_URL_HERE_OR_DELETE_THIS_LINE</projectUrl>
        <iconUrl>http://ICON_URL_HERE_OR_DELETE_THIS_LINE</iconUrl>
        -->
        <requireLicenseAcceptance>false</requireLicenseAcceptance>
        <description>{{packageDescription}}{{^packageDescription}}{{packageName}}{{/packageDescription}}</description>
        <releaseNotes>Summary of changes made in this release of the package.</releaseNotes>
        <copyright>{{packageCopyright}}</copyright>
        <tags>{{packageName}}</tags>
    </metadata>
</package>
