package {{apiPackage}}

// Steve was here
import com.android.volley.Response
import java.util.*;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.Map;
import java.util.HashMap;
import java.io.File;

// Generated import family starts here
{{#imports}}import {{import}}
{{/imports}}
// Generated import family ends here

{{#operations}}
class {{classname}} {

    var basePath = "{{{basePath}}}"
    // var invoker = instance
    // fun addHeader(key: String?, value: String?) {
    //    invoker!!.addDefaultHeader(key!!, value!!)
    // }

    {{#operation}}
    /**
    * {{summary}}
    * {{notes}}
    {{#allParams}}   * @param {{paramName}} {{description}}
    {{/allParams}}   * @return {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}
    */
    {{#isDeprecated}}
    @Deprecated("This api was deprecated")
    {{/isDeprecated}}
    suspend fun {{operationId}}({{^allParams}}){{/allParams}}{{#allParams}}{{>queryParams}}{{>pathParams}}{{>headerParams}}{{>bodyParams}}{{>formParams}}{{^-last}}, {{/-last}}{{#-last}}){{/-last}}{{/allParams}}: {{#returnType}}{{{returnType}}}?{{/returnType}}{{^returnType}}Unit{{/returnType}} {
        // Here's a funky method
        return {{#returnType}}null{{/returnType}}{{^returnType}}Unit{{/returnType}}
    }
    {{/operation}}
}
{{/operations}}
