{{> partial_header}}
Describe -tag '{{{packageName}}}' -name '{{{classname}}}' {
{{#operations}}
{{#operation}}
    Context '{{{operationId}}}' {
        It 'Invoke-{{{classname}}}{{{operationId}}}' {
            #$TestResult = Invoke-PetApiGetPetById{{#allParams}} -{{{paramName}}} "TEST_VALUE"{{/allParams}}
            #$TestResult | Should BeOfType TODO
            #$TestResult.property | Should Be 0
        }
    }

{{/operation}}
{{/operations}}
}
