{{> partial_header}}
version: 1.0.{build}
image:
  - Visual Studio 2017
  - Ubuntu
install:
  - ps: $PSVersionTable.PSVersion
  - ps: Install-Module Pester -Force -Scope CurrentUser
build: off
test_script:
  - ps: Invoke-Pester -EnableExit
