{{> partial_header}}
function Set-{{{packageName}}}Configuration {

    [CmdletBinding()]
    Param(
        $BaseUrl,
        $Username,
        $Password,
        $ApiKey,
        $ApiKeyPrefix,
        $Cookie,
        $AccessToken,
        [switch]$PassThru,
        [switch]$Force
    )
    Process {

        If (!BaseUrl) {
            [void]$Script:{{{packageName}}}Configuration.Add('BaseUrl', $BaseUrl)
        }

    }

}
