name: Samples Kotlin WireMock

on:
  push:
    branches:
      - samples/server/petstore/kotlin-wiremock*/**
      - samples/server/echo_api/kotlin-wiremock/**
  pull_request:
    paths:
      - samples/server/petstore/kotlin-wiremock*/**
      - samples/server/echo_api/kotlin-wiremock/**

jobs:
  build:
    name: Build Kotlin WireMock
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sample:
          - samples/server/petstore/kotlin-wiremock
          - samples/server/petstore/kotlin-wiremock-responses
          - samples/server/echo_api/kotlin-wiremock
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 11
      - name: Cache maven dependencies
        uses: actions/cache@v4
        env:
          cache-name: maven-repository
        with:
          path: |
            ~/.gradle
          key: ${{ runner.os }}-${{ github.job }}-${{ env.cache-name }}-${{ hashFiles('**/pom.xml') }}
      - name: Install Gradle wrapper
        uses: eskatos/gradle-command-action@v3
        with:
          build-root-directory: ${{ matrix.sample }}
          arguments: wrapper
      - name: Build
        working-directory: ${{ matrix.sample }}
        run: ./gradlew build -x test
