name: Samples C# .Net 8 Clients

on:
  push:
    paths:
      - samples/client/petstore/csharp/generichost/net8/**
      - samples/client/petstore/csharp/httpclient/net8/**
      - samples/client/petstore/csharp/restsharp/net8/**
      - samples/client/petstore/csharp/unityWebRequest/net8/**
  pull_request:
    paths:
      - samples/client/petstore/csharp/generichost/net8/**
      - samples/client/petstore/csharp/httpclient/net8/**
      - samples/client/petstore/csharp/restsharp/net8/**
      - samples/client/petstore/csharp/unityWebRequest/net8/**
jobs:
  build:
    name: Build .Net projects
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sample:
          - samples/client/petstore/csharp/generichost/net8/ManualTests
          - samples/client/petstore/csharp/generichost/net8/Petstore
          - samples/client/petstore/csharp/generichost/net8/NullReferenceTypes
          - samples/client/petstore/csharp/generichost/net8/SourceGeneration
          - samples/client/petstore/csharp/generichost/net8/UseDateTimeForDate
          - samples/client/petstore/csharp/generichost/net8/AllOf
          - samples/client/petstore/csharp/generichost/net8/AnyOf
          - samples/client/petstore/csharp/generichost/net8/OneOf
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4.0.0
        with:
          dotnet-version: '8.0.x'
      - name: Build
        working-directory: ${{ matrix.sample }}
        run: dotnet build Org.OpenAPITools.sln
      - name: Test
        working-directory: ${{ matrix.sample }}
        run: dotnet test Org.OpenAPITools.sln
