# coding: utf-8

{{>partial_header}}

import pprint  # noqa: F401
import re  # noqa: F401

import six  # noqa: F401

from {{packageName}}.exceptions import ApiValueError  # noqa: F401
from {{packageName}}.model_utils import (  # noqa: F401
    ModelNormal,
    ModelSimple,
    check_allowed_values,
    check_validations
)


{{#models}}
{{#model}}
{{^interfaces}}
{{#isAlias}}
{{> python-experimental/model_templates/model_simple }}
{{/isAlias}}
{{^isAlias}}
{{> python-experimental/model_templates/model_normal }}
{{/isAlias}}
{{/interfaces}}
{{#interfaces}}
{{#-last}}
{{> python-experimental/model_templates/model_normal }}
{{/-last}}
{{/interfaces}}
{{/model}}
{{/models}}
