//! Main library entry point for {{externCrateName}} implementation.

mod server;

mod errors {
    error_chain!{}
}

pub use self::errors::*;
use std::io;
use hyper;
use {{externCrateName}};

pub struct NewService;

impl hyper::server::NewService for NewService {
    type Request = (hyper::Request, {{externCrateName}}::Context);
    type Response = hyper::Response;
    type Error = hyper::Error;
    type Instance = {{externCrateName}}::server::Service<server::Server>;

    /// Instantiate a new server.
    fn new_service(&self) -> io::Result<Self::Instance> {
        Ok({{externCrateName}}::server::Service::new(server::Server))
    }
}
