{{#returnType}}{{#returnContainer}}{{#isMap}}HashMap<String, {{{returnType}}}>{{/isMap}}{{#isArray}}{{#uniqueItems}}LinkedHashSet{{/uniqueItems}}{{^uniqueItems}}ArrayList{{/uniqueItems}}<{{{returnType}}}>{{/isArray}}{{/returnContainer}}{{^returnContainer}}{{{returnType}}}{{/returnContainer}}{{/returnType}}