{{>licenseInfo}}
/*
 * IHttpBody.h
 * 
 * This is the interface for contents that can be sent to a remote HTTP server. 
 */

#ifndef IHttpBody_H_
#define IHttpBody_H_

{{{defaultInclude}}}
#include <iostream>

{{#modelNamespaceDeclarations}}
namespace {{this}} {
{{/modelNamespaceDeclarations}}

class {{declspec}} IHttpBody
{
public:
    virtual ~IHttpBody() { }

    virtual void writeTo( std::ostream& stream ) = 0;
};

{{#modelNamespaceDeclarations}}
}
{{/modelNamespaceDeclarations}}

#endif /* IHttpBody_H_ */
